* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none; }

ul {
  list-style: none;
  list-style-type: none; }

p {
  font-size: 14px;
  font-weight: normal; }

span {
  font-size: 14px; }

a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  cursor: pointer; }
  a:hover {
    color: #157ed2; }

#loading_box {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100000;
  opacity: 0;
  visibility: hidden; }

#loading_image {
  width: 100%;
  height: 100%;
  background: url("../../assets/img/icon/loading_image.gif") no-repeat center center;
  -webkit-background-size: 70px 70px;
  background-size: 165px 100px; }

.default {
  width: 100%;
  float: left; }

h1 {
  font-size: 20px; }

h3 {
  font-size: 16px; }

h2 {
  font-size: 18px; }

button {
  border: 0;
  cursor: pointer; }

body {
  font-size: 16px;
  line-height: 1.3em;
  color: #333;
  font-family: ElectroluxVN,Electrolux Sans,Roboto,Arial,sans-serif; }

.container {
  width: 1170px;
  margin: 0 auto; }

.cartMob {
  display: none; }

.newsDeatail {
  width: 100%;
  float: left;
  margin-top: 40px;
  margin-bottom: 30px; }
  .newsDeatail-left {
    width: 70%;
    float: left;
    margin-right: 5%;
    margin-bottom: 35px; }
    .newsDeatail-left__cmt {
      width: 75%;
      float: left;
      margin-bottom: 30px; }
      .newsDeatail-left__cmt .item-title {
        font-size: 20px;
        margin-bottom: 20px; }
        .newsDeatail-left__cmt .item-title p {
          font-weight: bold; }
      .newsDeatail-left__cmt .item-send {
        width: 100%;
        float: left;
        border: 1px solid #ddd;
        margin-top: -8px; }
      .newsDeatail-left__cmt textarea {
        width: 100%;
        border: 1px solid #ddd;
        height: 150px;
        padding: 10px;
        color: #b39999; }
      .newsDeatail-left__cmt a {
        background: #1aceff;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        color: #fff;
        float: right;
        font-size: 13px;
        margin-top: 20px;
        border-radius: 4px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px; }
      .newsDeatail-left__cmt .form {
        width: 100%;
        float: left;
        margin-top: 20px;
        background: #f2f2f2;
        padding: 20px;
        display: none; }
        .newsDeatail-left__cmt .form button {
          background: #1aceff;
          padding: 10px;
          padding-left: 20px;
          padding-right: 20px;
          color: #fff;
          float: right;
          font-size: 14px;
          border-radius: 4px; }
        .newsDeatail-left__cmt .form input[type=text] {
          width: 100%;
          padding: 15px;
          margin-bottom: 20px;
          border: 1px solid #ddd; }
        .newsDeatail-left__cmt .form input[type=radio] {
          -webkit-appearance: none;
          background-color: #ffffff;
          border: 1px solid #f2f2f2;
          padding: 0px;
          width: 18px;
          height: 18px;
          cursor: pointer;
          vertical-align: middle;
          margin-right: 10px;
          border-radius: 50%;
          border: 1px solid #ccc; }
          .newsDeatail-left__cmt .form input[type=radio]:checked {
            background: url(../../assets/img/icon/ic_check.png);
            background-size: 18px 18px;
            color: #e9ecee;
            border: none; }
        .newsDeatail-left__cmt .form-title {
          margin-right: 10px; }
    .newsDeatail-left__showCmt {
      width: 75%;
      float: left;
      margin-bottom: 30px; }
      .newsDeatail-left__showCmt .listCmt {
        width: 100%;
        float: left;
        padding: 10px;
        border: 1px solid #ddd;
        padding-top: 20px;
        margin-bottom: 20px;
        margin-top: 20px; }
        .newsDeatail-left__showCmt .listCmt-avt {
          width: 8%;
          float: left; }
          .newsDeatail-left__showCmt .listCmt-avt span {
            width: 40px;
            height: 40px;
            background: #ebe9eb;
            display: block;
            text-align: center;
            line-height: 40px;
            text-transform: uppercase; }
        .newsDeatail-left__showCmt .listCmt-info {
          width: 92%;
          float: left; }
          .newsDeatail-left__showCmt .listCmt-info p {
            margin-bottom: 15px; }
          .newsDeatail-left__showCmt .listCmt-info .item-name {
            width: 100%;
            float: left;
            font-weight: bold;
            margin-bottom: 10px; }
            .newsDeatail-left__showCmt .listCmt-info .item-name span {
              margin-right: 10px;
              font-size: 12px;
              background: #c69a39;
              padding: 0 5px;
              line-height: 18px;
              color: #fff;
              border-radius: 3px;
              margin-top: 3px;
              margin-bottom: 10px;
              margin-left: 10px; }
            .newsDeatail-left__showCmt .listCmt-info .item-name label {
              font-weight: normal; }
          .newsDeatail-left__showCmt .listCmt-info .item-content {
            width: 100%;
            float: left; }
            .newsDeatail-left__showCmt .listCmt-info .item-content p {
              font-size: 14px; }
          .newsDeatail-left__showCmt .listCmt-info .item-time {
            width: 100%;
            float: left; }
            .newsDeatail-left__showCmt .listCmt-info .item-time p {
              float: left;
              margin-right: 20px;
              cursor: pointer;
              margin-right: 8px;
              font-size: 12px;
              color: #777;
              line-height: 20px; }
      .newsDeatail-left__showCmt .listReply {
        width: 100%;
        float: left;
        padding-top: 10px;
        background: #f8f8f8;
        border: 1px solid #e4e1e3;
        padding: 10px;
        padding-top: 20px;
        position: relative; }
        .newsDeatail-left__showCmt .listReply:before {
          bottom: 100%;
          left: 20px;
          top: -20px;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          border-color: transparent;
          border-bottom-color: #e4e1e3;
          border-width: 10px;
          margin-left: -9px; }

.searchCart {
  width: 100%;
  float: left; }
  .searchCart-link {
    width: 100%;
    float: left; }
    .searchCart-link p {
      color: #011e41;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 25px; }
  .searchCart-false {
    width: 100%;
    float: left;
    text-align: center;
    color: #011e41;
    border: 1px solid #ccc;
    margin-bottom: 35px;
    padding-top: 100px;
    padding-bottom: 100px; }
  .searchCart .cateProduct-left__list {
    margin-bottom: 30px; }
    .searchCart .cateProduct-left__list .item {
      width: calc(100% / 4);
      border: 1px solid #ccc;
      border-left: 0; }
      .searchCart .cateProduct-left__list .item:nth-child(4n+1) {
        border-left: 1px solid #ccc; }
      .searchCart .cateProduct-left__list .item:nth-child(4n+4) {
        border-left: 0; }
  .searchCart-title {
    width: 100%;
    float: left; }
    .searchCart-title p {
      color: #011e41;
      font-size: 16px;
      margin-bottom: 25px; }

.cart {
  margin-bottom: 30px;
  float: left;
  width: 100%; }
  .cart table {
    text-align: center;
    margin-top: 40px;
    border-collapse: collapse; }
  .cart h3 {
    font-size: 30px;
    text-align: center;
    margin: 20px 0; }
  .cart th {
    width: 15%;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 14px; }
  .cart td {
    width: 15%;
    border: 1px solid #ddd;
    padding: 15px;
    font-size: 14px; }
  .cart img {
    width: 100%;
    height: auto;
    object-fit: cover; }
  .cart i {
    font-size: 28px;
    padding: 5px;
    color: #d91604; }
  .cart-default {
    width: 100%;
    float: left;
    line-height: 25px;
    border: 1px solid #d2d2d2;
    padding: 10px;
    background: #f2f2f2;
    color: #555555;
    text-align: center;
    margin-bottom: 30px; }
    .cart-default__title {
      margin-bottom: 20px; }
    .cart-default__home {
      margin-bottom: 10px; }
      .cart-default__home a {
        border-radius: 4px;
        background: #157ed2;
        padding: 10px;
        margin-top: 20px;
        border: 0;
        color: #fff;
        text-decoration: none;
        margin-bottom: 20px; }
  .cart-show {
    width: 50px;
    height: 35px;
    background: #fff;
    border: 0;
    text-align: center;
    border: 1px solid #ccc; }
  .cart-btnMinus {
    width: 35px;
    height: 35px;
    margin-bottom: 10px; }
  .cart-btnPlus {
    width: 35px;
    height: 35px; }
  .cart-success {
    line-height: 25px;
    border: 1px solid #d2d2d2;
    padding: 10px;
    background: #f2f2f2;
    color: #555555; }
    .cart-success__home {
      background: #157ed2;
      padding: 10px;
      margin-top: 20px;
      border: 0;
      color: #fff; }
  .cart-btnRemove {
    background: #fff;
    color: #fff;
    border: none; }
  .cart-total {
    font-weight: bold; }
  .cart-contine {
    padding: 10px;
    margin-top: 20px;
    background: #157ed2;
    border: 0;
    color: #fff;
    float: right;
    margin-right: 10px;
    border-radius: 4px; }
  .cart-order {
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    background: #ed1c24;
    border: 0;
    color: #fff;
    float: right; }
  .cart-order2 {
    padding: 10px;
    background: #ed1c24;
    border: 0;
    color: #fff;
    float: right;
    border-radius: 4px; }
  .cart-left {
    width: 65%;
    float: left;
    margin-right: 3%;
    border-right: 1px solid #d9d9d9; }
    .cart-left__info {
      width: 45%;
      float: left; }
      .cart-left__info-title {
        color: #737373;
        font-size: 16px;
        font-weight: bold; }
      .cart-left__info-form input[type=text] {
        width: 100%;
        padding: 10px;
        margin-top: 20px; }
      .cart-left__info-form select {
        width: 100%;
        padding: 10px;
        margin-top: 20px; }
      .cart-left__info-form textarea {
        width: 100%;
        height: 150px;
        margin-top: 20px;
        padding: 10px; }
    .cart-left__payment {
      width: 45%;
      float: left;
      margin-left: 5%; }
      .cart-left__payment-item__title {
        font-size: 18px;
        font-weight: bold;
        color: #737373;
        font-size: 16px; }
      .cart-left__payment-item__formInline {
        font-size: 14px;
        width: 100%;
        float: left;
        border-radius: 4px;
        padding: 10px 20px 15px;
        box-sizing: border-box;
        border: 1px solid #d9d9d9;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 25px; }
      .cart-left__payment-item a {
        color: #157ed2; }
      .cart-left__payment-item i {
        color: #155593;
        font-size: 20px;
        padding-right: 5px;
        position: relative;
        top: 2px; }
      .cart-left__payment-item p {
        color: #737373; }
  .cart-right {
    width: 30%;
    float: left; }
    .cart-right__content {
      width: 100%;
      float: left; }
      .cart-right__content-item {
        width: 100%;
        float: left;
        border-top: 1px solid #d9d9d9;
        margin-top: 15px;
        padding-top: 10px;
        position: relative;
        margin-bottom: 20px; }
        .cart-right__content-item img {
          width: 60px;
          float: left;
          height: 70px;
          border: 1px solid #d9d9d9;
          position: relative;
          margin: 0 auto;
          border-radius: 2px; }
        .cart-right__content-item span {
          position: absolute;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          color: #fff;
          background: #155593;
          font-weight: bold;
          top: 5%;
          right: 80%;
          font-size: 12px; }
        .cart-right__content-item__name {
          width: calc(100% - 200px);
          float: left;
          color: #4d4d4d;
          padding: 10px 10px 0 10px;
          box-sizing: border-box;
          text-align: justify;
          font-size: 14px; }
        .cart-right__content-item__price {
          width: 115px;
          font-size: 14px;
          float: right;
          color: #4d4d4d;
          padding-top: 26px;
          text-align: right; }
    .cart-right__fee {
      border-bottom: 1px solid #d9d9d9;
      padding: 10px 0; }
      .cart-right__fee p {
        color: #4d4d4d;
        padding: 5px 0;
        font-size: 14px; }
      .cart-right__fee span {
        float: right; }
    .cart-right__total {
      border-bottom: 1px solid #d9d9d9;
      padding: 15px 0;
      color: #4d4d4d;
      font-size: 16px; }
      .cart-right__total span {
        font-size: 18px;
        font-weight: bold;
        float: right;
        position: relative;
        bottom: 2px; }
    .cart-right__btnaction {
      margin-top: 20px;
      font-size: 14px; }
      .cart-right__btnaction a {
        text-decoration: none; }
        .cart-right__btnaction a:first-child {
          float: left;
          color: #155593;
          padding-top: 10px; }
        .cart-right__btnaction a:last-child {
          float: right;
          text-transform: uppercase;
          font-size: 16px;
          color: #fff;
          font-weight: bold;
          padding: 10px 35px;
          background: #155593;
          border-radius: 4px;
          position: relative; }

.detailProduct {
  width: 100%; }
  .detailProduct-top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px; }
    .detailProduct-top__left {
      width: 49%;
      margin-right: 2%; }
      .detailProduct-top__left .slider-productTop {
        width: 100%;
        float: left;
        margin-bottom: 10px;
        padding-right: 8px; }
        .detailProduct-top__left .slider-productTop img {
          width: 100%;
          height: 415px;
          object-fit: cover; }
      .detailProduct-top__left .slider-productBottom {
        width: 100%;
        float: left; }
        .detailProduct-top__left .slider-productBottom img {
          width: 100%;
          height: 100px;
          object-fit: cover;
          margin-right: 10px;
          padding: 5px;
          border-radius: 5px;
          border: 1px solid #ddd; }
        .detailProduct-top__left .slider-productBottom img.slick-current {
          border: 1px solid #f9844c; }
      .detailProduct-top__left .slick-next {
        background: url(../../assets/img/icon/icon_next.png);
        top: -200px;
        box-shadow: none;
        border: none;
        width: 30px !important;
        height: 30px !important;
        z-index: 1;
        right: 18px;
        border-radius: 50%; }
      .detailProduct-top__left .slick-prev {
        background: url(../../assets/img/icon/icon_prv.png);
        top: -200px;
        box-shadow: none;
        border: none;
        width: 30px !important;
        height: 30px !important;
        z-index: 1;
        left: 10px;
        border-radius: 50%; }
    .detailProduct-top__right {
      width: 49%; }
      .detailProduct-top__right .product-name {
        width: 100%;
        margin-bottom: 20px; }
        .detailProduct-top__right .product-name h1 {
          font-size: 20px; }
      .detailProduct-top__right .promotion {
        margin-top: 20px;
        border-radius: 5px;
        border: 1px solid #ddd; }
        .detailProduct-top__right .promotion P.title {
          font-size: 16px;
          padding: 10px 10px;
          background: #011e41;
          color: #fff;
          font-weight: 700;
          text-transform: uppercase;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
        .detailProduct-top__right .promotion .info_promotion {
          padding: 10px;
          line-height: 25px; }
          .detailProduct-top__right .promotion .info_promotion ul li i {
            width: 16px;
            height: 16px;
            display: inline-block;
            background: #468ee5;
            color: #fff;
            text-align: center;
            border-radius: 50%;
            margin: 0;
            line-height: 16px;
            font-style: normal;
            border: 1px solid #468ee5;
            border-top: 0;
            padding-bottom: 1px;
            font-size: 11px; }
      .detailProduct-top__right .product-information {
        margin-top: 20px;
        border-radius: 5px;
        border: 1px solid #ddd;
        line-height: 25px; }
        .detailProduct-top__right .product-information P.title {
          font-size: 16px;
          padding: 10px 10px;
          background: #f7f7f7;
          color: #000;
          font-weight: 700;
          text-transform: uppercase;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
        .detailProduct-top__right .product-information ul {
          padding: 10px; }
          .detailProduct-top__right .product-information ul li i {
            color: #468ee5; }
      .detailProduct-top__right .order {
        display: flex;
        margin-top: 20px; }
        .detailProduct-top__right .order .item {
          cursor: pointer;
          color: #fff;
          text-align: center;
          padding: 10px 0;
          text-transform: uppercase;
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px; }
          .detailProduct-top__right .order .item:first-child {
            background-color: #4CAF50;
            margin-right: 10px;
            width: 50%; }
            .detailProduct-top__right .order .item:first-child i {
              font-size: 30px;
              color: #fff;
              margin-right: 14px; }
            .detailProduct-top__right .order .item:first-child ul li {
              color: #fff;
              text-transform: none; }
          .detailProduct-top__right .order .item:last-child {
            background-color: #368ad3;
            width: 50%; }
            .detailProduct-top__right .order .item:last-child img {
              width: 30px;
              color: #fff;
              margin-right: 10px; }
            .detailProduct-top__right .order .item:last-child ul li a {
              color: #fff;
              text-transform: none; }
      .detailProduct-top__right .product-info {
        width: 100%;
        display: flex;
        margin-bottom: 15px; }
        .detailProduct-top__right .product-info__sku {
          margin-right: 10px; }
        .detailProduct-top__right .product-info__star i {
          color: #f0d167; }
      .detailProduct-top__right .product-price {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        align-items: center; }
        .detailProduct-top__right .product-price__old p {
          text-decoration: line-through; }
        .detailProduct-top__right .product-price__new {
          margin-right: 10PX; }
          .detailProduct-top__right .product-price__new p {
            color: #db0000;
            font-size: 20px;
            font-weight: bold; }
      .detailProduct-top__right .product-des {
        width: 100%;
        margin-bottom: 25px; }
        .detailProduct-top__right .product-des p {
          line-height: 25px; }
  .detailProduct-bottom {
    width: 100%;
    margin-bottom: 20px; }
    .detailProduct-bottom__title p {
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
      margin-bottom: 5px;
      padding-bottom: 5px; }
      .detailProduct-bottom__title p:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 160px;
        background-color: #011e41;
        bottom: 0;
        left: 0; }
  .detailProduct-related {
    width: 100%;
    float: left; }
    .detailProduct-related__title {
      width: 100%; }
      .detailProduct-related__title p {
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        margin-bottom: 5px;
        padding-bottom: 5px; }
        .detailProduct-related__title p:after {
          position: absolute;
          content: '';
          height: 2px;
          width: 160px;
          background-color: #011e41;
          bottom: 0;
          left: 0; }
    .detailProduct-related__list {
      width: 100%;
      margin-top: 10px;
      float: left; }
      .detailProduct-related__list .item {
        width: calc(100% / 4 - 30px);
        padding: 15px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        margin-right: 20px;
        float: left; }
        .detailProduct-related__list .item:last-child {
          margin-right: 0; }
        .detailProduct-related__list .item:hover {
          box-shadow: 1px 1px 7px 0px #bfb4b4;
          -webkit-box-shadow: 1px 1px 7px 0px #bfb4b4;
          -khtml-box-shadow: 1px 1px 7px 0px #bfb4b4;
          -moz-box-shadow: 1px 1px 7px 0px #bfb4b4;
          -ms-box-shadow: 1px 1px 7px 0px #bfb4b4;
          -o-box-shadow: 1px 1px 7px 0px #bfb4b4; }
          .detailProduct-related__list .item:hover-img img {
            transform: scale(1.04); }
        .detailProduct-related__list .item-img {
          width: 100%;
          margin-bottom: 15px; }
          .detailProduct-related__list .item-img img {
            width: 100%;
            height: 200px;
            object-fit: cover; }
        .detailProduct-related__list .item-name {
          width: 100%;
          margin-bottom: 5px;
          line-height: 20px;
          height: 44px;
          overflow: hidden; }
        .detailProduct-related__list .item-fix {
          width: 100%;
          margin-bottom: 5px; }
          .detailProduct-related__list .item-fix__star i {
            color: #f7d14f;
            font-size: 18px; }
        .detailProduct-related__list .item-price {
          width: 100%;
          display: flex;
          align-items: center; }
          .detailProduct-related__list .item-price__new {
            margin-right: 5px; }
            .detailProduct-related__list .item-price__new span {
              color: #db0000;
              font-weight: bold; }
          .detailProduct-related__list .item-price__old span {
            text-decoration: line-through;
            color: #333; }
        .detailProduct-related__list .item-des {
          width: 100%; }

.header {
  width: 100%;
  float: left; }
  .header_top {
    width: 100%;
    float: right;
    background: #011e41;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px; }
    .header_top__item {
      float: right;
      margin-left: 45px; }
      .header_top__item i {
        font-size: 18px;
        float: left;
        margin-right: 5px; }
      .header_top__item p {
        float: left; }
  .header_bottom {
    width: 100%;
    float: left;
    transition: all ease 1s;
    z-index: 9999;
    box-shadow: 0px 0px 15px 0px #333333;
    -webkit-box-shadow: 0px 0px 15px 0px #333333;
    -khtml-box-shadow: 0px 0px 15px 0px #333333;
    -moz-box-shadow: 0px 0px 15px 0px #333333;
    -ms-box-shadow: 0px 0px 15px 0px #333333;
    -o-box-shadow: 0px 0px 15px 0px #333333; }
    .header_bottom__logo {
      float: left;
      margin-right: 20px;
      margin-top: 8px; }
      .header_bottom__logo img {
        height: 45px; }
    .header_bottom__menu {
      float: left;
      margin-right: 65px; }
      .header_bottom__menu ul li {
        margin-left: 45px;
        float: left;
        padding-top: 20px;
        display: inline-block;
        position: relative; }
        .header_bottom__menu ul li a {
          font-size: 16px; }
          .header_bottom__menu ul li a:hover {
            color: #288ad6; }
    .header_bottom__search {
      float: left;
      margin-top: 20px;
      border-bottom: 1px solid #dfe7ea;
      padding-bottom: 10px; }
      .header_bottom__search input[type=text] {
        border: 0;
        padding-left: 10px;
        width: 200px; }
      .header_bottom__search button {
        background: #fff;
        padding-right: 10px; }
    .header_bottom__cart {
      float: right;
      margin-top: 20px;
      position: relative; }
      .header_bottom__cart span {
        background: #d91604;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        position: absolute;
        right: -10px;
        top: -25%;
        color: #fff;
        font-size: 12px;
        line-height: 18px;
        padding: .105rem .125rem;
        text-align: center; }
      .header_bottom__cart i {
        font-size: 25px; }

.blockTwo {
  width: 100%;
  float: left;
  height: 600px;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  margin-bottom: 20px; }
  .blockTwo-title {
    width: 100%;
    float: left;
    position: relative;
    height: 525px; }
    .blockTwo-title__item {
      width: 575px;
      height: 300px;
      background: #fff;
      border-radius: 4px;
      position: absolute;
      top: 150px;
      padding: 50px;
      left: 0;
      padding-right: 100px; }
      .blockTwo-title__item h3 {
        font-size: 28px;
        margin-bottom: 20px; }
      .blockTwo-title__item p {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 40px; }
      .blockTwo-title__item a {
        height: 30px;
        background: #011e41;
        color: #fff;
        border-radius: 3px;
        width: 150px;
        border-radius: 4px;
        line-height: 30px;
        text-align: center;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0px 10px; }
      .blockTwo-title__item i {
        margin-left: 10px;
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 1px 5px 1px 5px; }

.blockThree {
  width: 100%;
  float: left;
  height: 580px;
  position: relative;
  margin-bottom: 30px; }
  .blockThree-list {
    width: 100%;
    float: left;
    position: relative; }
    .blockThree-list__text {
      color: #fff;
      z-index: 1;
      position: absolute;
      top: -400px;
      line-height: 25px; }
      .blockThree-list__text h3 {
        font-size: 26px;
        margin-bottom: 20px;
        line-height: 20px; }
      .blockThree-list__text p {
        margin-bottom: 40px;
        line-height: 30px; }
      .blockThree-list__text a {
        width: 150px;
        height: 30px;
        background: #fff;
        color: #333;
        border-radius: 4px;
        line-height: 30px;
        text-align: center;
        display: block;
        font-weight: bold;
        padding: 0px 10px; }
      .blockThree-list__text i {
        margin-left: 10px;
        border: 1px solid #333;
        border-radius: 25px;
        padding: 1px 5px 1px 5px; }
      .blockThree-list__text:nth-child(1) {
        width: 40%;
        float: left;
        left: 0; }
      .blockThree-list__text:nth-child(2) {
        width: 40%;
        float: right;
        right: 0; }
  .blockThree-item {
    width: calc(50% - 10px);
    float: left;
    height: 580px; }
    .blockThree-item img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .blockThree-item:nth-child(1) {
      margin-right: 20px; }
      .blockThree-item:nth-child(1):after {
        position: absolute;
        content: "";
        width: calc(50% - 10px);
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5); }
    .blockThree-item:nth-child(2):after {
      position: absolute;
      content: "";
      width: calc(50% - 10px);
      height: 100%;
      z-index: 1;
      top: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5); }

.blogTitle {
  width: 100%;
  float: left; }
  .blogTitle-title {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 30px;
    clear: both; }
    .blogTitle-title p {
      color: #011e41;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase; }

.formHome {
  width: 100%;
  float: left;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  height: 410px; }
  .formHome .blogTitle {
    margin-top: 30px; }
  .formHome-list {
    width: calc(100% - 170px);
    float: left;
    margin-left: 85px;
    margin-right: 85px;
    background: #fff;
    padding-left: 215px;
    padding-right: 215px;
    text-align: center;
    padding-top: 25px; }
    .formHome-list input[type=text] {
      width: 100%;
      border: 0;
      border-bottom: 1px solid #646464;
      height: 47px;
      padding-left: 10px;
      padding-top: 25px; }
    .formHome-list button {
      width: 125px;
      height: 30px;
      background: #db0000;
      color: #fff;
      border-radius: 4px;
      margin-top: 45px;
      margin-bottom: 50px; }
    .formHome-list i {
      color: #fff;
      margin-left: 10px;
      border: 1px solid #fff;
      border-radius: 50%;
      padding: 1px 5px 1px 5px; }

.footer {
  width: 100%;
  float: left; }
  .footer-top {
    width: 100%;
    float: left;
    background: #011e41;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 70px; }
    .footer-top__item {
      width: calc(100% / 6);
      float: left;
      padding-right: 15px; }
      .footer-top__item .item-title {
        width: 100%;
        float: left;
        margin-bottom: 25px; }
        .footer-top__item .item-title p {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: bold; }
      .footer-top__item .item-menu {
        width: 100%;
        float: left;
        line-height: 30px; }
        .footer-top__item .item-menu a {
          color: #fff; }

.blockNews {
  width: 100%;
  float: left;
  height: 485px;
  position: relative;
  margin-bottom: 20px; }
  .blockNews-btn {
    position: absolute;
    bottom: 250px;
    left: 22%; }
    .blockNews-btn a {
      border: 2px solid #fff;
      border-radius: 50%;
      padding: 25px 20px 20px 25px; }
    .blockNews-btn i {
      font-size: 25px;
      color: #fff; }
  .blockNews-list {
    width: 100%;
    float: left;
    position: relative; }
    .blockNews-list__text {
      color: #fff;
      z-index: 1;
      position: absolute;
      top: -200px;
      line-height: 23px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden; }
      .blockNews-list__text button {
        width: 125px;
        height: 30px;
        background: #fff;
        color: #333;
        border-radius: 4px;
        margin-bottom: 35px; }
      .blockNews-list__text i {
        margin-left: 10px;
        border: 1px solid #333;
        border-radius: 50%;
        padding: 1px 5px 1px 5px; }
      .blockNews-list__text:nth-child(1) {
        width: 40%;
        float: left;
        left: 0;
        background: #fff;
        color: #000;
        width: 360px;
        padding-top: 15px;
        padding-left: 10px;
        padding-bottom: 15px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        height: 118px;
        border-radius: 4px; }
        .blockNews-list__text:nth-child(1) p {
          color: #000;
          height: 88px;
          overflow: hidden;
          line-height: 30px; }
      .blockNews-list__text:nth-child(2) {
        width: 35%;
        float: right;
        right: 0;
        top: -275px; }
        .blockNews-list__text:nth-child(2) p {
          line-height: 30px; }
        .blockNews-list__text:nth-child(2) a {
          width: 150px;
          height: 30px;
          background: #fff;
          color: #333;
          border-radius: 4px;
          line-height: 30px;
          text-align: center;
          display: block;
          font-weight: bold;
          padding: 0px 10px;
          margin-bottom: 15px; }
  .blockNews-item {
    width: calc(50% - 10px);
    float: left;
    height: 100%; }
    .blockNews-item img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .blockNews-item:nth-child(1) {
      margin-right: 20px; }

.blockVideo {
  width: 100%;
  float: left;
  height: 600px;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  margin-bottom: 20px; }
  .blockVideo-title {
    width: 100%;
    float: right;
    position: relative; }
    .blockVideo-title__item {
      width: 485px;
      float: right;
      position: absolute;
      top: 80%;
      right: 0; }
    .blockVideo-title__btn {
      float: left;
      margin-top: 278px;
      margin-left: 30px; }
      .blockVideo-title__btn a {
        border: 2px solid #fff;
        border-radius: 50%;
        padding: 25px 20px 20px 25px; }
      .blockVideo-title__btn i {
        font-size: 25px;
        color: #fff; }
    .blockVideo-title p {
      color: #fff;
      font-size: 32px;
      line-height: 45px;
      font-weight: bold; }

.categoryHome {
  width: 100%;
  float: left;
  text-align: center; }
  .categoryHome .btn-home {
    background: #fff;
    margin-right: 50px;
    font-size: 18px;
    text-transform: capitalize;
    color: #011e41ab; }
  .categoryHome .active {
    border-bottom: 2px solid #011e41ab;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #011e41ab; }
  .categoryHome-title {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc; }
  .categoryHome-list {
    width: 100%;
    float: left;
    margin-bottom: 30px; }
    .categoryHome-list .slick-next {
      position: absolute;
      width: 35px;
      height: 35px;
      line-height: 28px;
      margin-top: -25px;
      border: none;
      border-radius: 50%;
      font-family: monospace;
      font-size: 20px;
      z-index: 300;
      outline: none;
      right: -30px;
      font-weight: bold;
      top: 58%;
      color: #011e41;
      border: 2px solid #011e41; }
    .categoryHome-list .slick-prev {
      position: absolute;
      width: 35px;
      height: 35px;
      line-height: 28px;
      margin-top: -25px;
      border: none;
      border-radius: 50%;
      font-family: monospace;
      font-size: 20px;
      z-index: 300;
      outline: none;
      left: -55px;
      font-weight: bold;
      top: 58%;
      color: #011e41;
      border: 2px solid #011e41; }
    .categoryHome-list__item {
      width: calc(100% / 8 - 40px);
      float: left;
      margin-right: 30px;
      padding-top: 30px; }
      .categoryHome-list__item img {
        max-height: 200px;
        object-fit: cover;
        margin-bottom: 15px;
        width: 100%; }
      .categoryHome-list__item p {
        text-transform: uppercase;
        color: #596c83; }
  .categoryHome-support {
    width: 100%;
    float: left;
    display: none;
    margin-bottom: 30px;
    margin-top: 30px; }
    .categoryHome-support__item {
      padding-top: 45px;
      width: calc(100% / 5);
      float: left; }
      .categoryHome-support__item img {
        width: 100px;
        height: 100px;
        border: 2px solid #000;
        border-radius: 50%;
        padding: 20px;
        margin-bottom: 15px; }

.slider {
  width: 100%;
  float: left; }
  .slider .slick-dots {
    bottom: 15px !important; }
  .slider .slick-dots li.slick-active button:before {
    color: #fff !important; }
  .slider .slick-next {
    background: url(../../assets/img/icon/Layer24.png);
    top: 50%;
    box-shadow: none;
    border: none;
    width: 65px !important;
    height: 65px !important;
    z-index: 1;
    right: 45px; }
  .slider .slick-prev {
    background: url(../../assets/img/icon/Layer25.png);
    top: 50%;
    box-shadow: none;
    border: none;
    width: 65px !important;
    height: 65px !important;
    z-index: 1;
    left: 45px; }
  .slider-item {
    width: 100%;
    float: left;
    position: relative; }
    .slider-item img {
      width: 100%;
      height: 495px;
      object-fit: cover; }
    .slider-item .item {
      width: 450px;
      height: 320px;
      position: absolute;
      top: 85px;
      background: #7b8a9c;
      float: left;
      padding-top: 50px;
      padding-left: 35px;
      padding-right: 110px; }
      .slider-item .item p {
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        line-height: 46px; }
      .slider-item .item button {
        width: 150px;
        height: 40px;
        background: #ffffff;
        border: 0;
        border-radius: 4px;
        text-transform: uppercase;
        margin-top: 45px; }

.css-content {
  font-size: 16px;
  width: 100%;
  float: left;
  line-height: 35px; }
  .css-content figcaption {
    margin-bottom: 20px; }
  .css-content h1 {
    font-size: 20px; }
  .css-content ul {
    list-style-type: disc;
    margin-left: 20px; }
    .css-content ul li {
      list-style-type: disc;
      color: #288ad6;
      color: #333; }
  .css-content p {
    line-height: 35px;
    margin-bottom: 10px;
    font-size: 16px; }
  .css-content li {
    margin-bottom: 10px; }
  .css-content h2 {
    margin-bottom: 10px;
    margin-top: 10px; }
  .css-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px; }
  .css-content a {
    color: #288ad6; }
  .css-content table {
    max-width: 100%;
    width: 100% !important;
    margin: 0 auto 10px;
    border-collapse: collapse;
    border-spacing: 0; }
    .css-content table tr td {
      border: 1px solid #ddd;
      padding: 10px; }
      .css-content table tr td:first-child {
        background: #f1f1f1; }
  .css-content ol li {
    list-style-type: disc; }
    .css-content ol li a {
      color: #288ad6; }

.menu {
  width: 100%;
  float: left;
  padding-top: 25px;
  padding-bottom: 15px;
  margin-bottom: 15px; }
  .menu ul i {
    font-size: 24px;
    margin-right: 10px;
    float: left; }
  .menu ul li {
    list-style: none;
    float: left;
    font-size: 13px;
    padding-top: 4px; }
    .menu ul li:nth-child(n+1) {
      text-decoration: none;
      float: left; }
      .menu ul li:nth-child(n+1):after {
        content: "/";
        color: #000;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px; }
    .menu ul li:last-child {
      text-decoration: none;
      float: left; }
      .menu ul li:last-child:after {
        content: "";
        color: #222222;
        display: inline-block;
        padding-left: 10px; }
    .menu ul li h1 {
      font-size: 13px;
      font-weight: normal; }

.accessories {
  width: 100%;
  float: left;
  margin-top: 50px;
  margin-bottom: 40px; }
  .accessories-left {
    width: 65%;
    float: left; }
    .accessories-left img {
      width: 100%;
      height: 455px;
      object-fit: cover; }
  .accessories-right {
    width: 35%;
    float: left;
    padding-left: 45px;
    padding-right: 40px;
    padding-top: 40px; }
    .accessories-right__name {
      width: 100%;
      float: left; }
      .accessories-right__name h3 {
        color: #122d4e;
        font-size: 20px;
        margin-bottom: 45px; }
    .accessories-right__title {
      width: 100%;
      float: left; }
      .accessories-right__title p {
        margin-bottom: 20px; }
      .accessories-right__title a {
        color: #122d4e;
        text-transform: uppercase;
        font-weight: bold; }
      .accessories-right__title i {
        margin-left: 10px;
        border: 1px solid #122d4e;
        border-radius: 50%;
        padding: 1px 6px 1px 6px; }

.support {
  width: 100%;
  float: left; }
  .support-detail {
    width: 100%;
    float: left; }
  .support-cateVal {
    width: 100%;
    float: left;
    background: #f4f5f6;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 20px;
    border: 1px solid #333;
    display: none; }
    .support-cateVal__item {
      width: calc(100% / 6);
      float: left;
      padding-right: 20px; }
      .support-cateVal__item ul li {
        margin-bottom: 10px; }
  .support-cate {
    width: 100%;
    float: left; }
    .support-cate__item {
      width: calc(100% / 3 - 10px);
      float: left;
      text-align: center; }
      .support-cate__item:nth-child(2) {
        margin-left: 15px;
        margin-right: 15px; }
      .support-cate__item .item-img {
        width: 100%;
        float: left; }
        .support-cate__item .item-img img {
          width: 100%;
          height: 185px;
          object-fit: cover; }
      .support-cate__item .item-cate {
        width: 100%;
        float: left;
        padding-top: 15px;
        padding-bottom: 15px;
        background: #f4f5f6;
        margin-top: -5px; }
        .support-cate__item .item-cate a {
          color: #011e41;
          font-weight: bold;
          font-size: 18px;
          cursor: pointer; }
  .support-top {
    width: calc(100%);
    float: left;
    text-align: center;
    margin-bottom: 30px; }
    .support-top__item {
      width: calc(100% / 5);
      float: left;
      padding-left: 15px;
      padding-right: 15px; }
      .support-top__item:hover span, .support-top__item:hover p {
        color: #011e41; }
      .support-top__item .item-icon {
        width: 100%;
        float: left;
        margin-bottom: 20px; }
        .support-top__item .item-icon span {
          font-size: 52px;
          border: 2px solid #011e41;
          padding: 15px;
          border-radius: 50%; }
      .support-top__item .item-title {
        width: 100%;
        float: left;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden; }
        .support-top__item .item-title p {
          color: #596c83;
          text-transform: uppercase; }
  .support-title {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 30px; }
    .support-title p {
      color: #011e41;
      font-size: 28px;
      font-weight: bold;
      text-transform: uppercase; }
  .support-slogan {
    width: 100%;
    float: left;
    background: #dfe7ea;
    padding-top: 40px;
    padding-bottom: 40px; }
    .support-slogan .support-title p {
      text-transform: none; }
    .support-slogan__item {
      width: calc(100% / 3);
      float: left;
      text-align: center; }
      .support-slogan__item .item-icon {
        width: 100%;
        float: left;
        margin-bottom: 25px; }
        .support-slogan__item .item-icon span {
          color: #001c3f;
          background: #fff;
          padding: 15px;
          background: #fff;
          border-radius: 50%;
          font-size: 34px; }
      .support-slogan__item .item-info {
        width: 100%;
        float: left; }
        .support-slogan__item .item-info__title {
          width: 100%;
          float: left; }
          .support-slogan__item .item-info__title p {
            color: #011e41;
            font-size: 18px;
            margin-bottom: 10px; }
        .support-slogan__item .item-info__btn {
          width: 100%;
          float: left; }
          .support-slogan__item .item-info__btn p {
            margin-bottom: 15px; }
          .support-slogan__item .item-info__btn a {
            color: #011e41;
            font-weight: bold;
            text-transform: uppercase; }
  .support-question {
    width: 100%;
    float: left;
    margin-bottom: 50px; }
    .support-question .support-title p {
      font-weight: 500; }
    .support-question__list {
      width: 100%;
      float: left; }
      .support-question__list .item {
        width: 100%;
        float: left;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #323233; }
        .support-question__list .item i {
          float: right;
          color: #323233;
          font-size: 22px; }
        .support-question__list .item a {
          color: #323233;
          font-weight: 600;
          font-size: 16px; }
        .support-question__list .item-value {
          width: 100%;
          float: left;
          margin-top: 20px;
          display: none; }
          .support-question__list .item-value p {
            line-height: 25px;
            margin-bottom: 10px; }

.inspiredRelated {
  width: 100%;
  float: left;
  background: #f0f2f5;
  padding-top: 30px; }
  .inspiredRelated-list {
    width: calc(100% + 18px) !important;
    float: left; }
    .inspiredRelated-list .item {
      margin-right: 18px; }
      .inspiredRelated-list .item:nth-child(2) {
        margin-left: 0 !important;
        margin-right: 18 !important; }
    .inspiredRelated-list .slick-prev {
      background: url(../../assets/img/icon/muitrai.png);
      top: 50%;
      box-shadow: none;
      border: none;
      width: 35px !important;
      height: 35px !important;
      border: 1px solid #000;
      z-index: 1;
      left: -50px;
      border-radius: 50%; }
    .inspiredRelated-list .slick-next {
      background: url(../../assets/img/icon/muiphai.png);
      top: 50%;
      box-shadow: none;
      border: none;
      width: 35px !important;
      height: 35px !important;
      border: 1px solid #000;
      z-index: 1;
      right: -32px;
      border-radius: 50%; }
  .inspiredRelated-title {
    margin-bottom: 30px;
    width: 100%;
    float: left; }
    .inspiredRelated-title p {
      text-transform: uppercase;
      color: #011e41;
      font-weight: bold;
      font-size: 20px;
      border-left: 2px solid #011e41;
      padding-left: 10px; }

.inspired {
  width: 100%;
  float: left;
  margin-bottom: 100px; }
  .inspired-left {
    width: 75%;
    float: left;
    padding-right: 40px; }
    .inspired-left__title {
      width: 100%;
      float: left; }
      .inspired-left__title h1 {
        line-height: 25px;
        color: #011e41;
        margin-bottom: 10px; }
      .inspired-left__title p {
        color: #9fa0ae; }
  .inspired-right {
    width: 25%;
    float: right; }
    .inspired-right .cateProduct-left__list .item {
      width: 100%;
      border: 1px solid #ccc; }
    .inspired-right__title {
      width: 100%;
      float: left;
      margin-bottom: 10px; }
      .inspired-right__title p {
        text-transform: uppercase;
        color: #011e41;
        font-weight: bold;
        font-size: 20px;
        border-left: 2px solid #011e41;
        padding-left: 10px; }

.pagePaginate {
  width: 100%;
  float: left;
  margin-bottom: 35px; }
  .pagePaginate .pagination {
    text-align: center; }
    .pagePaginate .pagination li {
      list-style: none;
      display: inline-block;
      color: #cccccc;
      margin-right: 3px;
      margin-bottom: 10px; }
      .pagePaginate .pagination li a {
        color: #007bff;
        padding: 5px 10px;
        display: block;
        text-align: center;
        border: 1px solid #dee2e6;
        border-radius: 5px; }
    .pagePaginate .pagination li.disabled span {
      color: #007bff;
      padding: 5px 10px;
      display: block;
      text-align: center;
      border: 1px solid #dee2e6;
      border-radius: 5px; }
    .pagePaginate .pagination li.active span {
      color: #fff;
      padding: 5px 10px;
      display: inline-block;
      text-align: center;
      border: 1px solid #cccccc;
      border-radius: 5px;
      background: #011e41; }

.service {
  width: 100%;
  float: left;
  margin-top: 20px; }
  .service-infor {
    width: 100%;
    float: left;
    margin-bottom: 55px; }
    .service-infor__item {
      width: 100%;
      float: left;
      padding-left: 322px; }
  .service-inspired {
    width: 100%;
    float: left; }
    .service-inspired .support-title {
      margin-bottom: 50px; }
    .service-inspired__list {
      width: 100%;
      float: left;
      margin-bottom: 30px; }
      .service-inspired__list .item {
        width: calc(100% / 3 - 12px);
        float: left;
        position: relative;
        height: 365px;
        margin-bottom: 25px;
        display: flex;
        flex-wrap: wrap; }
        .service-inspired__list .item:nth-child(3n+2) {
          margin-left: 18px;
          margin-right: 18px; }
        .service-inspired__list .item-img {
          width: 100%;
          float: left; }
          .service-inspired__list .item-img img {
            width: 100%;
            height: 250px;
            object-fit: cover; }
        .service-inspired__list .item-infor {
          width: calc(100% - 20px);
          float: left;
          margin-left: 10px;
          background: #fff;
          border-radius: 4px;
          padding: 10px;
          position: absolute;
          line-height: 25px;
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
          top: 210px;
          overflow: hidden; }
          .service-inspired__list .item-infor__time {
            width: 100%;
            float: left;
            padding-left: 20px; }
            .service-inspired__list .item-infor__time p {
              color: #999aaa;
              font-size: 13px; }
          .service-inspired__list .item-infor__title, .service-inspired__list .item-infor__desc {
            width: 100%;
            float: left; }

.contact {
  width: 100%;
  float: left;
  margin-bottom: 45px; }
  .contact-left {
    width: 50%;
    float: left; }
    .contact-left__adress {
      width: 100%;
      float: left; }
      .contact-left__adress p {
        margin-bottom: 5px;
        line-height: 25px;
        color: #011e41; }
    .contact-left__infor {
      width: 100%;
      float: left; }
      .contact-left__infor p {
        font-weight: bold;
        margin-bottom: 5px;
        line-height: 25px;
        color: #011e41; }
      .contact-left__infor span {
        font-weight: normal;
        color: #011e41; }
  .contact-right {
    width: 50%;
    float: right; }
    .contact-right__form {
      width: 100%;
      float: left; }
      .contact-right__form .item-import {
        width: 100%;
        float: left;
        border: 1px solid #79889a;
        border-radius: 4px;
        margin-bottom: 35px; }
        .contact-right__form .item-import input[type=text] {
          width: 100%;
          border: 0;
          border-bottom: 1px solid #79889a;
          padding: 15px; }
        .contact-right__form .item-import textarea {
          padding: 15px;
          width: 100%;
          border: 0;
          height: 165px; }
      .contact-right__form .item-btn {
        width: 100%;
        float: left;
        text-align: center; }
        .contact-right__form .item-btn button {
          background: #db0000;
          border-radius: 4px;
          width: 135px;
          height: 35px;
          color: #fff; }
        .contact-right__form .item-btn i {
          margin-left: 10px;
          border: 1px solid #fff;
          border-radius: 50%;
          padding: 1px 5px 1px 5px; }

.cateProduct {
  width: 100%;
  float: left;
  margin-bottom: 30px; }
  .cateProduct-left {
    float: left;
    width: 75%;
    padding-right: 20px; }
    .cateProduct-left__list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      float: left; }
      .cateProduct-left__list .item {
        width: calc(100% / 3);
        float: left;
        padding: 15px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-left: 0; }
        .cateProduct-left__list .item:nth-child(3n+1) {
          border-left: 1px solid #ccc; }
        .cateProduct-left__list .item:hover {
          box-shadow: 1px 1px 7px 0px #bfb4b4;
          -webkit-box-shadow: 1px 1px 7px 0px #bfb4b4;
          -khtml-box-shadow: 1px 1px 7px 0px #bfb4b4;
          -moz-box-shadow: 1px 1px 7px 0px #bfb4b4;
          -ms-box-shadow: 1px 1px 7px 0px #bfb4b4;
          -o-box-shadow: 1px 1px 7px 0px #bfb4b4; }
        .cateProduct-left__list .item-img {
          width: 100%;
          float: left;
          margin-bottom: 15px; }
          .cateProduct-left__list .item-img img {
            width: 100%;
            height: 225px;
            object-fit: cover; }
        .cateProduct-left__list .item-name {
          width: 100%;
          margin-bottom: 5px;
          line-height: 20px;
          height: 44px;
          overflow: hidden; }
        .cateProduct-left__list .item-fix {
          width: 100%;
          margin-bottom: 5px; }
          .cateProduct-left__list .item-fix .item-fix__star i {
            color: #f7d14f;
            font-size: 18px; }
        .cateProduct-left__list .item-price {
          width: 100%;
          display: flex;
          align-items: center; }
          .cateProduct-left__list .item-price__new {
            margin-right: 5px; }
            .cateProduct-left__list .item-price__new span {
              color: #db0000;
              font-weight: bold; }
          .cateProduct-left__list .item-price__old span {
            text-decoration: line-through;
            color: #333; }
        .cateProduct-left__list .item-des {
          width: 100%;
          float: left; }
  .cateProduct-right {
    width: 25%;
    float: right; }
    .cateProduct-right__title {
      width: 100%;
      float: left;
      margin: 20px 0; }
      .cateProduct-right__title p {
        text-transform: uppercase;
        color: #011e41;
        font-weight: bold;
        font-size: 18px;
        border-left: 2px solid #011e41;
        padding-left: 10px; }
    .cateProduct-right__list {
      width: 100%;
      float: left;
      border: 1px solid #ccc;
      padding-top: 15px; }
      .cateProduct-right__list .item {
        width: 100%;
        float: left;
        padding-bottom: 10px;
        border-bottom: 1px solid #dddddd;
        margin-bottom: 10px; }
        .cateProduct-right__list .item:last-child {
          border-bottom: 0; }
        .cateProduct-right__list .item-title {
          width: 100%;
          float: left;
          margin-bottom: 15px; }
          .cateProduct-right__list .item-title p {
            text-transform: uppercase;
            font-weight: bold;
            padding: 0 10px; }
        .cateProduct-right__list .item-filter {
          width: 100%;
          float: left;
          padding: 0 20px; }
          .cateProduct-right__list .item-filter__cate {
            width: 100%;
            float: left; }
            .cateProduct-right__list .item-filter__cate a {
              width: 100%;
              float: left;
              margin-bottom: 10px;
              color: #969eeb; }
            .cateProduct-right__list .item-filter__cate a.active {
              color: #011e41;
              font-weight: bold; }
          .cateProduct-right__list .item-filter__check {
            width: 100%;
            float: left;
            padding-right: 15px;
            margin-bottom: 10px; }
            .cateProduct-right__list .item-filter__check span {
              color: #969eeb; }
            .cateProduct-right__list .item-filter__check input[type=checkbox] {
              -webkit-appearance: none;
              background-color: #ffffff;
              border: 1px solid #ddd;
              padding: 0px;
              width: 14px;
              height: 14px;
              cursor: pointer;
              vertical-align: middle;
              margin-right: 10px;
              border-radius: 3px; }
              .cateProduct-right__list .item-filter__check input[type=checkbox]:checked {
                background: url(../../assets/img/icon/check.png);
                background-size: 14px 14px;
                color: #e9ecee;
                border: none; }

.inspiration {
  width: 100%;
  float: left; }
  .inspiration-cate {
    width: 100%;
    float: left;
    text-align: center; }
    .inspiration-cate__btn {
      width: 100%;
      float: left;
      margin-bottom: 15px; }
      .inspiration-cate__btn .active {
        background: #dfe7ea; }
      .inspiration-cate__btn img {
        width: 20px;
        height: 20px;
        margin-right: 15px; }
      .inspiration-cate__btn p {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 600;
        -ms-flex-align: center;
        align-items: center;
        color: #011e41; }
      .inspiration-cate__btn a {
        text-transform: uppercase;
        padding: 15px; }
    .inspiration-cate__form {
      width: 100%;
      float: left;
      text-align: center;
      background: #dfe7ea;
      padding-top: 15px;
      padding-bottom: 15px;
      display: none; }
      .inspiration-cate__form a {
        padding-right: 50px;
        margin-right: 50px;
        border-right: 1px solid #fff; }
        .inspiration-cate__form a:last-child {
          border-right: 0; }
  .inspiration .slider-item:nth-child(2) {
    display: none; }
  .inspiration .slider-item .item {
    background: rgba(0, 0, 0, 0.6); }
    .inspiration .slider-item .item p {
      font-weight: normal;
      font-size: 30px;
      margin-bottom: 15px; }
    .inspiration .slider-item .item span {
      color: #fff;
      line-height: 25px; }
  .inspiration-block {
    width: 100%;
    float: left;
    height: 495px;
    margin-bottom: 20px; }
    .inspiration-block img {
      width: 100%;
      height: 495px;
      object-fit: cover; }
    .inspiration-block__list {
      width: 100%;
      float: left;
      position: relative;
      top: -495px; }
      .inspiration-block__list .item {
        width: 450px;
        height: 320px;
        position: absolute;
        top: 85px;
        background: #fff;
        float: left;
        right: 0;
        padding-top: 50px;
        padding-left: 35px;
        padding-right: 110px;
        line-height: 25px; }
        .inspiration-block__list .item p {
          color: #333;
          font-size: 30px;
          line-height: 46px;
          font-weight: bold;
          margin-bottom: 30px; }
        .inspiration-block__list .item span {
          color: #333; }

/*css cho footer*/
.content-container {
  width: 100%;
  float: left;
  border-bottom: 1px solid #e1e1e1; }
  .content-container .container {
    display: flex;
    flex-wrap: wrap; }
    .content-container .container .social-share {
      flex: 0 0 66.66667%;
      max-width: 66.66667%; }
      .content-container .container .social-share > ul {
        display: flex;
        margin-top: 20px; }
        .content-container .container .social-share > ul li {
          margin-right: 35px; }
          .content-container .container .social-share > ul li:last-child {
            margin-right: 0px; }
          .content-container .container .social-share > ul li a i {
            font-size: 30px; }
      .content-container .container .social-share .copyright {
        margin-top: 5px; }
        .content-container .container .social-share .copyright span {
          font-weight: 700; }
        .content-container .container .social-share .copyright .content-container {
          display: flex;
          flex-wrap: wrap; }
    .content-container .container .elux-life-app {
      flex: 0 0 33.33333%;
      max-width: 33.33333%; }
      .content-container .container .elux-life-app .content-container--table {
        display: table !important;
        margin-left: auto; }
        .content-container .container .elux-life-app .content-container--table .block-table:first-child {
          margin-top: 20px;
          margin-bottom: 10px; }
          .content-container .container .elux-life-app .content-container--table .block-table:first-child strong {
            display: table-cell !important;
            vertical-align: middle !important;
            padding-bottom: 0;
            font-size: 14px; }
        .content-container .container .elux-life-app .content-container--table .block-table:last-child {
          display: flex;
          flex-wrap: wrap; }
          .content-container .container .elux-life-app .content-container--table .block-table:last-child .block-table-cell {
            margin-right: 35px; }
            .content-container .container .elux-life-app .content-container--table .block-table:last-child .block-table-cell:last-child {
              margin-right: 0; }

.content-container-bottom {
  width: 100%;
  float: left;
  margin: 5px 0; }
  .content-container-bottom .container .content-container-bottom {
    display: flex;
    flex-wrap: wrap; }
    .content-container-bottom .container .content-container-bottom .small-12:first-child {
      flex: 0 0 50%;
      max-width: 50%; }
    .content-container-bottom .container .content-container-bottom .small-12:last-child {
      flex: 0 0 50%;
      max-width: 50%; }

/*# sourceMappingURL=main.css.map */
