*{padding: 0; margin: 0; box-sizing: border-box;outline: none;}


ul{
    list-style: none;
    list-style-type: none;
}
p{
    font-size: 14px;
    font-weight: normal;
}
span{
    font-size: 14px;
}
a{
    text-decoration: none;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    &:hover{
        color: #157ed2;
    }
}
#loading_box {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100000;
    opacity: 0;
    visibility: hidden;
}
#loading_image {
    width: 100%;
    height: 100%;
    background: url('../../assets/img/icon/loading_image.gif') no-repeat center center;
    -webkit-background-size: 70px 70px;
    background-size: 165px 100px;
}
.default {
    width: 100%;
    float: left;
}
h1{
    font-size: 20px;
}
h3{
    font-size: 16px;
}
h2{
    font-size: 18px;
}
button{
    border: 0;
    cursor: pointer;
}
body{
    font-size: 16px;
    line-height: 1.3em;
    color: #333;
    font-family: ElectroluxVN,Electrolux Sans,Roboto,Arial,sans-serif;
}
.container{
    width: 1170px; 
    margin: 0 auto;
}
.cartMob{
    display: none;
}
.newsDeatail{
    width: 100%;
    float: left;
    margin-top: 40px;
    margin-bottom: 30px;
    &-left{
        width: 70%;
        float: left;
        margin-right: 5%;
        margin-bottom: 35px;
        &__cmt{
            width: 75%;
            float: left;
            margin-bottom: 30px;
            .item-title{
                font-size: 20px;
                margin-bottom: 20px;
                p{
                    font-weight: bold;
                }
            }
            .item-send{
                width: 100%;
                float: left;
                border: 1px solid #ddd;
                margin-top: -8px;
            }
            textarea{
                width: 100%;
                border:1px solid #ddd;
                height: 150px;
                padding:10px;
                color: #b39999;
            }
            a{
                background: #1aceff;
                padding: 10px;
                padding-left:20px;
                padding-right:20px;
                color: #fff;
                float: right;
                font-size: 13px;
                margin-top: 20px;
                border-radius: 4px;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-right: 10px;
            }
            .form{
                width: 100%;
                float: left;
                margin-top: 20px;
                background: #f2f2f2;
                padding: 20px;
                display: none;
                button{
                    background: #1aceff;
                    padding: 10px;
                    padding-left: 20px;
                    padding-right: 20px;
                    color: #fff;
                    float: right;
                    font-size: 14px;
                    border-radius: 4px;
                }
                input[type=text]{
                    width: 100%;
                    padding: 15px;
                    margin-bottom: 20px;
                    border:1px solid #ddd;
                }
                input[type=radio]{
                    -webkit-appearance: none;
                    background-color: #ffffff;
                    border: 1px solid #f2f2f2;
                    padding: 0px;
                    width: 18px;
                    height: 18px;
                    cursor: pointer;
                    vertical-align: middle;
                    margin-right: 10px;
                    border-radius: 50%;
                    border: 1px solid #ccc;
                    &:checked{
                        background: url(../../assets/img/icon/ic_check.png);
                        background-size: 18px 18px;
                        color: #e9ecee;
                        border: none;
                    }
                }
                &-title{
                    margin-right:10px;
                }
            }
        }
        &__showCmt{
            width: 75%;
            float: left;
            margin-bottom: 30px;
            .listCmt{
                width: 100%;
                float: left;
                padding: 10px;
                border: 1px solid #ddd;
                padding-top:20px;
                margin-bottom: 20px;
                margin-top: 20px;
                &-avt{
                    width: 8%;
                    float: left;
                    span{
                        width: 40px;
                        height: 40px;
                        background: #ebe9eb;
                        display: block;
                        text-align: center;
                        line-height: 40px;
                        text-transform: uppercase;
                    }
                }
                &-info{
                    width: 92%;
                    float: left;
                    p{
                        margin-bottom: 15px;
                    }
                    .item-name{
                        width: 100%;
                        float: left;
                        font-weight: bold;
                        margin-bottom: 10px;
                        span{
                            margin-right: 10px;
                            font-size: 12px;
                            background: #c69a39;
                            padding: 0 5px;
                            line-height: 18px;
                            color: #fff;
                            border-radius: 3px;
                            margin-top: 3px;
                            margin-bottom: 10px;
                            margin-left: 10px;
                        }
                        label{
                            font-weight: normal;
                        }
                    }
                    .item-content{
                        width: 100%;
                        float: left;
                        p{
                            font-size: 14px;
                        }
                    }
                    .item-time{
                        width: 100%;
                        float: left;
                        p{
                            float: left;
                            margin-right: 20px;
                            cursor: pointer;
                            margin-right: 8px;
                            font-size: 12px;
                            color: #777;
                            line-height: 20px;
                        }
                    }

                }
            }
            .listReply{
                width: 100%;
                float: left;
                padding-top: 10px;
                background: #f8f8f8;
                border: 1px solid #e4e1e3;
                padding: 10px;
                padding-top: 20px;
                position: relative;
                &:before{
                    bottom: 100%;
                    left: 20px;
                    top: -20px;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    border-color: transparent;
                    border-bottom-color: #e4e1e3;
                    border-width: 10px;
                    margin-left: -9px;
                }
            }
        }
    }
}
.searchCart{
    width: 100%;
    float: left;
    &-link{
        width: 100%;
        float: left;
        p{
            color: #011e41;
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 25px;
        }    
    }
    &-false{
        width: 100%;
        float: left;
        text-align: center;
        color: #011e41;
        border: 1px solid #ccc;
        margin-bottom: 35px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .service-inspired__list{
    }
    .cateProduct-left__list{
        margin-bottom: 30px;
        .item{
            width: calc(100% / 4);
            border: 1px solid #ccc;
            border-left: 0;
            &:nth-child(4n+1){
                border-left: 1px solid #ccc;
            }
            &:nth-child(4n+4){
                border-left: 0;
            }
        }
    }
    &-title{
        width: 100%;
        float: left;
        p{
            color: #011e41;
            font-size: 16px;
            margin-bottom: 25px;
        }
    }
}
.cart{
    margin-bottom: 30px;
    float: left;
    width: 100%;
    table{
        text-align: center; 
        margin-top: 40px;
        border-collapse: collapse;
    }
    h3{
        font-size: 30px;
        text-align: center;
        margin: 20px 0;
    }
    th{
        width: 15%;
        padding: 10px;
        border: 1px solid #ddd;
        font-size: 14px;
    }
    td{
        width: 15%;
        border: 1px solid #ddd;
        padding: 15px;
        font-size: 14px;
    }
    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    i{
        font-size: 28px;
        padding: 5px;
        color: #d91604;
    }
    &-default{
        width: 100%;
        float: left;
        line-height: 25px;
        border: 1px solid #d2d2d2;
        padding: 10px;
        background: #f2f2f2;
        color: #555555;
        text-align: center;
        margin-bottom: 30px;
        &__title{
            margin-bottom: 20px;
        }
        &__home{
            margin-bottom: 10px;
            a{
                border-radius: 4px;
                background: #157ed2;
                padding: 10px;
                margin-top: 20px;
                border: 0;
                color: #fff;
                text-decoration: none;
                margin-bottom: 20px;
            }
        }
    }
    &-show{
        width: 50px;
        height: 35px;
        background: #fff;
        border:0;
        text-align: center;
        border:1px solid #ccc;
    }
    &-btnMinus{
        width: 35px;
        height: 35px;
        margin-bottom: 10px;
    }
    &-btnPlus{
        width: 35px;
        height: 35px;
    }
    &-success{
        line-height: 25px;
        border: 1px solid #d2d2d2;
        padding: 10px;
        background: #f2f2f2;
        color: #555555;
        &__home{
            background: #157ed2;
            padding: 10px;
            margin-top: 20px;
            border: 0;
            color: #fff;
        }
    }
    &-btnRemove{
        background: #fff;
        color: #fff;
        border: none;
    }
    &-total{
        font-weight: bold;
    }
    &-contine{
        padding: 10px; 
        margin-top: 20px;
        background: #157ed2; 
        border: 0; 
        color: #fff;
        float: right;
        margin-right: 10px;
        border-radius: 4px;
    }
    &-order{
        border-radius: 4px;
        padding: 10px; 
        margin-top: 20px;
        background: #ed1c24;
        border: 0; 
        color: #fff;
        float: right;
    }
    &-order2{
        padding: 10px;
        background: #ed1c24;
        border: 0; 
        color: #fff;
        float: right;
        border-radius: 4px;
    }
    &-left{
        width: 65%;
        float: left;
        margin-right: 3%;
        border-right: 1px solid #d9d9d9;
        &__info{
            width: 45%;
            float: left;
            &-title{
                color: #737373;
                font-size: 16px;
                font-weight: bold;
            }
            &-form{
                input[type=text]{
                    width: 100%;
                    padding: 10px;
                    margin-top: 20px;
                }
                select{
                    width: 100%;
                    padding: 10px;
                    margin-top: 20px;
                }
                textarea{
                    width: 100%;
                    height: 150px;
                    margin-top: 20px;
                    padding: 10px;
                }
            }
        }
        &__payment{
            width: 45%;
            float: left;
            margin-left: 5%;
            &-item{
                &__title{
                    font-size: 18px;
                    font-weight: bold;
                    color: #737373;
                    font-size: 16px;
                }
                &__formInline{
                    font-size: 14px;
                    width: 100%;
                    float: left;
                    border-radius: 4px;
                    padding: 10px 20px 15px;
                    box-sizing: border-box;
                    border: 1px solid #d9d9d9;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    line-height: 25px;
                }
                a{
                    color: #157ed2;
                }
                i{
                    color: #155593;
                    font-size: 20px;
                    padding-right: 5px;
                    position: relative;
                    top: 2px;
                }
                p{
                    color: #737373;
                }
            }
        }
    }
    &-right{
        width: 30%;
        float: left;
        &__content{
            width: 100%;
            float: left;
            &-item{
                width: 100%;
                float: left;
                border-top: 1px solid #d9d9d9;
                margin-top: 15px;
                padding-top:10px;
                position: relative;
                margin-bottom: 20px;
                img{
                    width: 60px;
                    float: left;
                    height: 70px;
                    border: 1px solid #d9d9d9;
                    position: relative;
                    margin: 0 auto;
                    border-radius: 2px;
                }
                span{
                    position: absolute;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    color: #fff;
                    background: #155593;
                    font-weight: bold;
                    top: 5%;
                    right: 80%;
                    font-size: 12px;
                }
                &__name{
                    width: calc(100% - 200px);
                    float: left;
                    color: #4d4d4d;
                    padding: 10px 10px 0 10px;
                    box-sizing: border-box;
                    text-align: justify;
                    font-size: 14px;
                }
                &__price{
                    width: 115px;
                    font-size: 14px;
                    float: right;
                    color: #4d4d4d;
                    padding-top: 26px;
                    text-align: right;
                }
            }
        }
        &__fee{
            border-bottom: 1px solid #d9d9d9;
            padding: 10px 0;
            p{
                color: #4d4d4d;
                padding: 5px 0;
                font-size: 14px;
            }
            span{
                float: right;
            }
        }
        &__total{
            border-bottom: 1px solid #d9d9d9;
            padding: 15px 0;
            color: #4d4d4d;
            font-size: 16px;
            span{
                font-size: 18px;
                font-weight: bold;
                float: right;
                position: relative;
                bottom: 2px;
            }
        }
        &__btnaction{
            margin-top: 20px;
            font-size: 14px;
            a{
                text-decoration: none;
                &:first-child{
                    float: left;
                    color: #155593;
                    padding-top: 10px;
                }
                &:last-child{
                    float: right;
                    text-transform: uppercase;
                    font-size: 16px;
                    color: #fff;
                    font-weight: bold;
                    padding: 10px 35px;
                    background: #155593;
                    border-radius: 4px;
                    position: relative;
                }
            }
        }

    }
}
.detailProduct{
    width: 100%;
    &-top{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        &__left{
            width:49%;
            margin-right: 2%;
            .slider-productTop{
                width: 100%;
                float: left;
                margin-bottom: 10px;
                padding-right: 8px;
                img{
                    width: 100%;
                    height: 415px;
                    object-fit: cover;
                }
            }
            .slider-productBottom{
                width: 100%;
                float: left;
                img{
                    width: 100%;
                    height: 100px;
                    object-fit: cover;
                    margin-right: 10px;
                    padding: 5px;
                    border-radius: 5px;
                    border: 1px solid #ddd;
                }
                img.slick-current{
                    border: 1px solid #f9844c;
                }
            }
            .slick-next {
                background: url(../../assets/img/icon/icon_next.png);
                top: -200px;
                box-shadow: none;
                border: none;
                width: 30px !important;
                height: 30px !important;
                z-index: 1;
                right: 18px;
                border-radius: 50%;
            }
            .slick-prev {
                background: url(../../assets/img/icon/icon_prv.png);
                top: -200px;
                box-shadow: none;
                border: none;
                width: 30px !important;
                height: 30px !important;
                z-index: 1;
                left: 10px;
                border-radius: 50%;
            }
        }
        &__right{
            width: 49%;
            .product-name{
                width: 100%;
                margin-bottom: 20px;
                h1{
                    font-size: 20px;
                }
            }
            .promotion{
                margin-top: 20px;
                border-radius: 5px;
                border: 1px solid #ddd;
                P.title{
                    font-size: 16px;
                    padding: 10px 10px;
                    background: #011e41;
                    color: #fff;
                    font-weight: 700;
                    text-transform: uppercase;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
                .info_promotion{
                    padding: 10px;
                    line-height: 25px;
                    ul{
                        li{
                            i{
                                width: 16px;
                                height: 16px;
                                display: inline-block;
                                background: #468ee5;
                                color: #fff;
                                text-align: center;
                                border-radius: 50%;
                                margin: 0;
                                line-height: 16px;
                                font-style: normal;
                                border: 1px solid #468ee5;
                                border-top: 0;
                                padding-bottom: 1px;
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
            .product-information{
                margin-top: 20px;
                border-radius: 5px;
                border: 1px solid #ddd;
                line-height: 25px;
                P.title{
                    font-size: 16px;
                    padding: 10px 10px;
                    background: #f7f7f7;
                    color: #000;
                    font-weight: 700;
                    text-transform: uppercase;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
                ul{
                     padding: 10px;
                    li{
                        i{
                            color:#468ee5; 
                        }
                    }
                }
            }
            .order{
                display: flex;
                margin-top: 20px;
                .item{
                    cursor: pointer;
                    color: #fff;
                    text-align: center;
                    padding: 10px 0;
                    text-transform: uppercase;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                   &:first-child{
                        background-color: #4CAF50;
                        margin-right: 10px;
                        width: 50%;
                        i{
                            font-size: 30px;
                            color: #fff;
                            margin-right: 14px;
                        }
                        ul{
                            li{
                                color: #fff;
                                text-transform: none;
                            }
                        }
                   } 
                   &:last-child{
                        background-color: #368ad3;
                        width: 50%;
                        img{
                            width: 30px;
                            color: #fff;
                            margin-right: 10px;
                        }
                        ul{
                            li{
                                a{
                                    color: #fff;
                                    text-transform: none;
                                }
                            }
                        }
                   }
                }
            }
            .product-info{
                width: 100%;
                display: flex;
                margin-bottom: 15px;
                &__sku{
                    margin-right: 10px;
                }
                &__star{
                    i{
                        color: #f0d167;
                    }
                }
            }
            .product-price{
                width: 100%;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                &__old{
                    p{
                        text-decoration: line-through;
                    }
                }
                &__new{
                    margin-right: 10PX;
                    p{
                        color: #db0000;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
            }
            .product-des{
                width: 100%;
                margin-bottom: 25px;
                p{
                    line-height: 25px;
                }
            }
          
        }
    }
    &-bottom{
        width: 100%;
        margin-bottom: 20px;
        &__title{
            p{
                text-transform: uppercase;
                font-weight: bold;
                position: relative;
                margin-bottom: 5px ;
                padding-bottom: 5px;
                &:after{
                    position: absolute;
                    content: '';
                    height: 2px;
                    width: 160px ;
                    background-color: #011e41;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
    &-related{
        width: 100%;
        float: left;
        &__title{
            width: 100%;
            p{
               text-transform: uppercase;
                font-weight: bold;
                position: relative;
                margin-bottom: 5px ;
                padding-bottom: 5px;
                &:after{
                    position: absolute;
                    content: '';
                    height: 2px;
                    width: 160px ;
                    background-color: #011e41;
                    bottom: 0;
                    left: 0;
                }
            }
        }
        &__list{
            width: 100%;
            margin-top: 10px;
            float: left;
            .item{
                width: calc(100% / 4 - 30px);
                padding: 15px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
               
                margin-right: 20px;
                float: left;
                &:last-child{
                    margin-right: 0;
                }
                &:hover{
                    box-shadow: 1px 1px 7px 0px #bfb4b4;
                    -webkit-box-shadow: 1px 1px 7px 0px #bfb4b4;
                    -khtml-box-shadow: 1px 1px 7px 0px #bfb4b4;
                    -moz-box-shadow: 1px 1px 7px 0px #bfb4b4;
                    -ms-box-shadow: 1px 1px 7px 0px #bfb4b4;
                    -o-box-shadow: 1px 1px 7px 0px #bfb4b4;
                    &-img{
                        img{
                            transform:scale(1.04);
                        }
                    }
                }
                &-img{
                    width: 100%;
                    margin-bottom:15px; 
                    img{
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }
                }
                &-name{
                    width: 100%;
                    margin-bottom: 5px;
                    line-height: 20px;
                    height: 44px;
                    overflow: hidden;
                }
                &-fix{
                    width: 100%;
                    margin-bottom: 5px;
                    &__star{
                        i{
                            color: #f7d14f;
                            font-size: 18px;
                        }
                    }
                }
                &-price{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    &__new{
                        margin-right: 5px;
                        span{
                            color: #db0000;
                            font-weight: bold;
                        }
                    }
                    &__old{
                        span{
                            text-decoration: line-through;
                            color: #333;
                        }
                    }
                }
                &-des{
                    width: 100%;
                }
            }
        }
    }
}
.header{
    width: 100%;
    float: left;
    &_top{
        width: 100%;
        float: right;
        background: #011e41;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        &__item{
            float: right;
            margin-left: 45px;
            i{
                font-size: 18px;
                float: left;
                margin-right: 5px;
            }
            p{
                float: left;
            }
        }
    }
    &_bottom{
        width: 100%;
        float: left;
        transition: all ease 1s;
        z-index: 9999;
        box-shadow: 0px 0px 15px 0px #333333;
        -webkit-box-shadow: 0px 0px 15px 0px #333333;
        -khtml-box-shadow: 0px 0px 15px 0px #333333;
        -moz-box-shadow: 0px 0px 15px 0px #333333;
        -ms-box-shadow: 0px 0px 15px 0px #333333;
        -o-box-shadow: 0px 0px 15px 0px #333333;
        &__logo{
            float: left;
            margin-right: 20px;
            margin-top: 8px;
            img{
                height: 45px;
            }
        }
        &__menu{
            float: left;
            margin-right: 65px;
            ul{
                li{
                    margin-left: 45px;
                    float: left;
                    padding-top: 20px;
                    display: inline-block;
                    position: relative;
                    a{
                        font-size: 16px;
                        &:hover{
                            color: #288ad6;
                        }
                    }
                }
            }
        }
        &__search{
            float: left;
            margin-top: 20px;
            border-bottom: 1px solid #dfe7ea;
            padding-bottom: 10px;
            input[type=text]{
                border:0;
                padding-left: 10px;
                width: 200px;
            }
            button{
                background: #fff;
                padding-right: 10px;
            }
        }
        &__cart{
            float: right;
            margin-top: 20px;
            position: relative;
            span{
                background: #d91604;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                position: absolute;
                right: -10px;
                top: -25%;
                color: #fff;
                font-size: 12px;
                line-height: 18px;
                padding: .105rem .125rem;
                text-align: center;
            }
            i{
                font-size: 25px;
            }
        }
    }
}
.blockTwo{
    width: 100%;
    float: left;
    height: 600px;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    margin-bottom: 20px;
    &-title{
        width: 100%;
        float: left;
        position: relative;
        height: 525px;
        &__item{
            width: 575px;
            height: 300px;
            background: #fff;
            border-radius: 4px;
            position: absolute;
            top: 150px;
            padding: 50px;
            left: 0;
            padding-right: 100px;
            h3{
                font-size: 28px;
                margin-bottom: 20px;
            }
            p{
                font-size: 16px;
                line-height: 30px;
                margin-bottom: 40px;
            }
            a{
                height: 30px;
                background: #011e41;
                color: #fff;
                border-radius: 3px;
                width: 150px;
              
                border-radius: 4px;
                line-height: 30px;
                text-align: center;
                display: block;
                text-transform: uppercase;
                font-weight: bold;
                padding: 0px 10px;
            }
            i{
                margin-left: 10px;
                border: 1px solid #fff;
                border-radius: 50%;
                padding: 1px 5px 1px 5px;
            }
        }
    }
}
.blockThree{
    width: 100%;
    float: left;
    height: 580px;
    position: relative;
    margin-bottom: 30px;
    &-list{
        width: 100%;
        float: left;
        position: relative;
        &__text{
            color: #fff;
            z-index: 1;
            position: absolute;
            top: -400px;
            line-height: 25px;
            h3{
                font-size: 26px;
                margin-bottom: 20px;
                line-height: 20px;
            }
            p{
                margin-bottom: 40px;
                line-height: 30px;

            }
            a{
                width: 150px;
                height: 30px;
                background: #fff;
                color: #333;
                border-radius: 4px;
                line-height: 30px;
                text-align: center;
                display: block;
                font-weight: bold;
                padding: 0px 10px;
            }
            i{
                margin-left: 10px;
                border: 1px solid #333;
                border-radius: 25px;
                padding: 1px 5px 1px 5px;
            }
            &:nth-child(1){
                width: 40%;
                float: left;
                left: 0;
            }
            &:nth-child(2){
                width: 40%;
                float: right;
                right: 0;
            }
        }
    }
    &-item{
        width: calc(50% - 10px);
        float: left;
        height: 580px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:nth-child(1){
            margin-right: 20px;
                &:after{
                position: absolute;
                content: "";
                width: calc(50% - 10px);
                height: 100%;
                z-index: 1;
                top: 0;
                left: 0;
                background: rgba(0,0,0,.5);
            }
        }
        &:nth-child(2){
            &:after{
                position: absolute;
                content: "";
                width: calc(50% - 10px);
                height: 100%;
                z-index: 1;
                top: 0;
                right: 0;
                background: rgba(0,0,0,.5);
            }
        }
    }
}
.blogTitle{
    width: 100%;
    float: left;
    &-title{
        width: 100%;
        float: left;
        text-align: center;
        margin-bottom: 30px;
        clear: both;
        p{
            color: #011e41;
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}
.formHome{
    width: 100%;
    float: left;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height: 410px;
    .blogTitle{
        margin-top: 30px;
    }
    &-list{
        width: calc(100% - 170px);
        float: left;
        margin-left: 85px;
        margin-right: 85px;
        background: #fff;
        padding-left: 215px;
        padding-right: 215px;
        text-align: center;
        padding-top: 25px;
        input[type=text]{
            width: 100%;
            border: 0;
            border-bottom: 1px solid #646464;
            height: 47px;
            padding-left: 10px;
            padding-top: 25px;
        }
        button{
            width: 125px;
            height: 30px;
            background: #db0000;
            color: #fff;
            border-radius: 4px;
            margin-top: 45px;
            margin-bottom: 50px;
        }
        i{
            color: #fff;
            margin-left: 10px;
            border: 1px solid #fff;
            border-radius: 50%;
            padding: 1px 5px 1px 5px;
        }
    }
}
.footer{
    width: 100%;
    float: left;
    &-top{
        width: 100%;
        float: left;
        background: #011e41;
        color: #fff;
        padding-top: 40px;
        padding-bottom: 70px;
        &__item{
            width: calc(100% / 6);
            float: left;
            padding-right: 15px;
            .item-title{
                width: 100%;
                float: left;
                margin-bottom: 25px;
                p{
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
            .item-menu{
                width: 100%;
                float: left;
                line-height: 30px;
                a{
                    color: #fff;
                }
            }
        }
    }
}
.blockNews{
    width: 100%;
    float: left;
    height: 485px;
    position: relative;
    margin-bottom: 20px;
    &-btn{
        position: absolute;
        bottom: 250px;
        left: 22%;
        a{
            border: 2px solid #fff;
            border-radius: 50%;
            padding: 25px 20px 20px 25px;
        }
        i{
            font-size: 25px;
            color: #fff;
        }
    }
    &-list{
        width: 100%;
        float: left;
        position: relative;
        &__text{
            color: #fff;
            z-index: 1;
            position: absolute;
            top: -200px;
            line-height: 23px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
            button{
                width: 125px;
                height: 30px;
                background: #fff;
                color: #333;
                border-radius: 4px;
                margin-bottom: 35px;
            }
            i{
                margin-left: 10px;
                border: 1px solid #333;
                border-radius: 50%;
                padding: 1px 5px 1px 5px;
            }
            &:nth-child(1){
                width: 40%;
                float: left;
                left: 0;
                background: #fff;
                color: #000;
                width: 360px;
                padding-top: 15px;
                padding-left: 10px;
                padding-bottom: 15px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                overflow: hidden;
                height: 118px;
                border-radius: 4px;

                p{
                    color: #000;
                    height: 88px;
                    overflow: hidden;
                    line-height: 30px;
                }
            }
            &:nth-child(2){
                width: 35%;
                float: right;
                right: 0;
                top: -275px;
                p{
                    line-height: 30px;
                }
                a{
                    width: 150px;
                    height: 30px;
                    background: #fff;
                    color: #333;
                    border-radius: 4px;
                    line-height: 30px;
                    text-align: center;
                    display: block;
                    font-weight: bold;
                    padding: 0px 10px;
                    margin-bottom: 15px;
                }
            }
        }
    }
    &-item{
        width: calc(50% - 10px);
        float: left;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:nth-child(1){
            margin-right: 20px;
        }
    }
}
.blockVideo{
    width: 100%;
    float: left;
    height: 600px;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    margin-bottom: 20px;
    &-title{
        width: 100%;
        float: right;
        position: relative;
        &__item{
            width: 485px;
            float: right;
            position: absolute;
            top: 80%;
            right: 0;
        }
        &__btn{
            float: left;
            margin-top: 278px;
            margin-left: 30px;
            a{
                border: 2px solid #fff;
                border-radius: 50%;
                padding: 25px 20px 20px 25px;
            }
            i{
                font-size: 25px;
                color: #fff;
            }
        }
        p{
            color: #fff;
            font-size: 32px;
            line-height: 45px;
            font-weight: bold;
        }
    }
}
.categoryHome{
    width: 100%;
    float: left;
    text-align: center;
    .btn-home{
        background: #fff;
        margin-right: 50px;
        font-size: 18px;
        text-transform: capitalize;
        color: #011e41ab;
    }
    .active{
        border-bottom: 2px solid #011e41ab;
        padding-bottom: 20px;
        font-weight: bold;
        font-size: 18px;
        color: #011e41ab;
    }
    &-title{
        width: 100%;
        float: left;
        border-bottom: 1px solid #ccc;
    }
    &-list{
        width: 100%;
        float: left;
        margin-bottom: 30px;
        .slick-next {
            position: absolute;
            width: 35px;
            height: 35px;
            line-height: 28px;
            margin-top: -25px;
            border: none;
            border-radius: 50%;
            font-family: monospace;
            font-size: 20px;
            z-index: 300;
            outline: none;
            right: -30px;
            font-weight: bold;
            top: 58%;
            color: #011e41;
            border: 2px solid #011e41;
        }
        .slick-prev {
            position: absolute;
            width: 35px;
            height: 35px;
            line-height: 28px;
            margin-top: -25px;
            border: none;
            border-radius: 50%;
            font-family: monospace;
            font-size: 20px;
            z-index: 300;
            outline: none;
            left: -55px;
            font-weight: bold;
            top: 58%;
            color: #011e41;
            border: 2px solid #011e41;
        }
        &__item{
            width: calc(100% / 8 - 40px);
            float: left;
            margin-right: 30px;
            padding-top: 30px;
            img{
                max-height: 200px;
                object-fit: cover;
                margin-bottom: 15px;
                width: 100%;
            }
            p{
                text-transform: uppercase;
                color: #596c83;
            }
        }
    }
    &-support{
        width: 100%;
        float: left;
        display: none;
        margin-bottom: 30px;
        margin-top:30px;
        &__item{
            padding-top: 45px;
            width: calc(100% / 5);
            float: left;
            img{
                width: 100px;
                height: 100px;
                border: 2px solid #000;
                border-radius: 50%;
                padding: 20px;
                margin-bottom: 15px;
            }
        }
    }
}
.slider {
    width: 100%;
    float: left;
    .slick-dots {
        bottom: 15px!important;
    }
    .slick-dots li.slick-active button:before {
        color: #fff!important;
    }
    .slick-next {
        background: url(../../assets/img/icon/Layer24.png);
        top: 50%;
        box-shadow: none;
        border: none;
        width: 65px !important;
        height: 65px !important;
        z-index: 1;;
        right: 45px;
    }
    .slick-prev {
        background: url(../../assets/img/icon/Layer25.png);
        top: 50%;
        box-shadow: none;
        border: none;
        width: 65px !important;
        height: 65px !important;
        z-index: 1;
        left: 45px;
    }
    &-item{
        width: 100%;
        float: left;
        position: relative;
        img{
            width: 100%;
            height: 495px;
            object-fit: cover;
        }
        .item{
            width: 450px;
            height: 320px;
            position: absolute;
            top: 85px;
            background: #7b8a9c;
            float: left;
            padding-top: 50px;
            padding-left: 35px;
            padding-right: 110px;
            p{
                color: #fff;
                font-size: 40px;
                font-weight: bold;
                line-height: 46px;
            }
            button{
                width: 150px;
                height: 40px;
                background: #ffffff;
                border: 0;
                border-radius: 4px;
                text-transform: uppercase;
                margin-top: 45px;
            }
        }
    }
}
.css{
  &-content{
    font-size: 16px;
    width: 100%;
    float: left;
    line-height: 35px;
    figcaption{
      margin-bottom: 20px;
    }
    h1{
      font-size: 20px;
    }
    ul{
      list-style-type: disc;
      margin-left: 20px;
      li{
        list-style-type: disc;
        color: #288ad6;
        color: #333;
      }
    }
    p{
      line-height: 35px;
      margin-bottom: 10px;
      font-size: 16px;
    }
    li{
      margin-bottom: 10px;
    }
    h2{
      margin-bottom: 10px;
      margin-top: 10px;
    }
    img{
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    a{
      color: #288ad6;
    }
    table{
      max-width: 100%;
        width: 100% !important;
        margin: 0 auto 10px;
        border-collapse: collapse;
        border-spacing: 0;
      tr{
        td{
          border: 1px solid #ddd;
          padding: 10px;
          &:first-child {
              background: #f1f1f1;
          }
        }
      }
    }
    ol{
      li{
        list-style-type: disc;
        a{
          color: #288ad6;
        }
      }
    }
  }

}
.menu{
    width: 100%;
    float: left;
    padding-top: 25px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    ul{
        i{
            font-size: 24px;
            margin-right: 10px;
            float: left;
        }
        li{
            list-style: none;
            float: left;
            font-size: 13px;
            padding-top: 4px;
            &:nth-child(n+1){
                text-decoration: none ; 
                float : left; 
                &:after{
                    content: "/";
                    color: #000;
                    display: inline-block;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
            &:last-child{
                text-decoration: none ; 
                float : left;  
                &:after{
                    content: "";
                    color: rgb(34, 34, 34);
                    display: inline-block;
                    padding-left: 10px;
                }
            }
            h1 {  
                font-size: 13px;
                font-weight: normal;
            }
        }
    }
}
.accessories{
    width: 100%;
    float: left;
    margin-top: 50px;
    margin-bottom: 40px;
    &-left{
        width: 65%;
        float: left;
        img{
            width: 100%;
            height: 455px;
            object-fit: cover;
        }
    }
    &-right{
        width: 35%;
        float: left;
        padding-left: 45px;
        padding-right: 40px;
        padding-top: 40px;
        &__name{
            width: 100%;
            float: left;
            h3{
                color: #122d4e;
                font-size: 20px;
                margin-bottom: 45px;
            }
        }
        &__title{
            width: 100%;
            float: left;
            p{
                margin-bottom: 20px;
            }
            a{
                color: #122d4e;
                text-transform: uppercase;
                font-weight: bold;
            }
            i{
                margin-left: 10px;
                border: 1px solid #122d4e;
                border-radius: 50%;
                padding: 1px 6px 1px 6px;
            }
        }
    }
}
.support{
    width: 100%;
    float: left;
    &-detail{
        width: 100%;
        float: left;
    }
    &-cateVal{
        width: 100%;
        float: left;
        background: #f4f5f6;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 20px;
        border: 1px solid #333;
        display: none;
        &__item{
            width: calc(100% / 6);
            float: left;
            padding-right: 20px;
            ul{
                li{
                    margin-bottom: 10px;
                }
            }
        }
    }
    &-cate{
        width: 100%;
        float: left;
        &__item{
            width: calc(100% / 3 - 10px);
            float: left;
            text-align: center;
            &:nth-child(2){
                margin-left: 15px;
                margin-right: 15px;
            }
            .item-img{
                width: 100%;
                float: left;
                img{
                    width: 100%;
                    height: 185px;
                    object-fit: cover;
                }
            }
            .item-cate{
                width: 100%;
                float: left;
                padding-top: 15px;
                padding-bottom: 15px;
                background: #f4f5f6;
                margin-top: -5px;
                a{
                    color: #011e41;
                    font-weight: bold;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }
    }
    &-top{
        width: calc(100%);
        float: left;
        text-align: center;
        margin-bottom: 30px;
        &__item{
            width: calc(100% / 5);
            float: left;
            padding-left: 15px;
            padding-right: 15px;
            &:hover{
                span , p{
                    color: #011e41;
                }
            }
            .item-icon{
                width: 100%;
                float: left;
                margin-bottom: 20px;
                span{
                    font-size: 52px;
                    border: 2px solid #011e41;
                    padding: 15px;
                    border-radius: 50%;
                }
            }
            .item-title{
                width: 100%;
                float: left;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                p{
                    color: #596c83;
                    text-transform: uppercase;
                }
            }
        }
    }
    &-title{
        width: 100%;
        float: left;
        text-align: center;
        margin-bottom: 30px;
        p{
            color: #011e41;
            font-size: 28px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    &-slogan{
        width: 100%;
        float: left;
        background: #dfe7ea;
        padding-top: 40px;
        padding-bottom: 40px;
        .support-title{
            p{
                text-transform: none;
            }
        }
        &__item{
            width: calc(100% / 3);
            float: left;
            text-align: center;
            .item-icon{
                width: 100%;
                float: left;
                margin-bottom: 25px;
                span{
                    color: #001c3f;
                    background: #fff;
                    padding: 15px;
                    background: #fff;
                    border-radius: 50%;
                    font-size: 34px;
                }
            }
            .item-info{
                width: 100%;
                float: left;
                &__title{
                    width: 100%;
                    float: left;
                    p{
                        color: #011e41;
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                }
                &__btn{
                    width: 100%;
                    float: left;
                    p{
                        margin-bottom: 15px;
                    }
                    a{
                        color: #011e41;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    &-question{
        width: 100%;
        float: left;
        margin-bottom: 50px;
        .support-title{
            p{
                font-weight: 500;
            }
        }
        &__list{
            width: 100%;
            float: left;
            .item{
                width: 100%;
                float: left;
                padding-top: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #323233;
                i{
                    float: right;
                    color: #323233;
                    font-size: 22px;
                }
                a{
                    color: #323233;
                    font-weight: 600;
                    font-size: 16px;
                }
                &-value{
                    width: 100%;
                    float: left;
                    margin-top: 20px;
                    display: none;
                    p{
                        line-height: 25px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
.inspiredRelated{
    width: 100%;
    float: left;
    background: #f0f2f5;
    padding-top: 30px;
    &-list{
        width: calc(100% + 18px)!important;
        float: left;
        .item{
            margin-right: 18px;
            &:nth-child(2){
                margin-left: 0!important;
                margin-right: 18!important;
            }
        }
        .slick-prev {
            background: url(../../assets/img/icon/muitrai.png);
            top: 50%;
            box-shadow: none;
            border: none;
            width: 35px !important;
            height: 35px !important;
            border: 1px solid #000;
            z-index: 1;
            left: -50px;
            border-radius: 50%;
        }
        .slick-next {
            background: url(../../assets/img/icon/muiphai.png);
            top: 50%;
            box-shadow: none;
            border: none;
            width: 35px !important;
            height: 35px !important;
            border: 1px solid #000;
            z-index: 1;
            right: -32px;
            border-radius: 50%;
        }
    }
    &-title{
        margin-bottom: 30px;
        width: 100%;
        float: left;
        p{
            text-transform: uppercase;
            color: #011e41;
            font-weight: bold;
            font-size: 20px;
            border-left: 2px solid #011e41;
            padding-left: 10px;
        }
    }
}
.inspired{
    width: 100%;
    float: left;
    margin-bottom: 100px;
    &-left{
        width: 75%;
        float: left;
        padding-right: 40px;
        &__title{
            width: 100%;
            float: left;
            h1{
               line-height: 25px;
                color: #011e41;
                margin-bottom: 10px;
            }
            p{
                color: #9fa0ae;
            }
        }
    }
    &-right{
        width: 25%;
        float: right;
        .cateProduct-left__list .item{
            width: 100%;
            border: 1px solid #ccc;
        }
        &__title{
            width: 100%;
            float: left;
            margin-bottom: 10px;
            p{
                text-transform: uppercase;
                color: #011e41;
                font-weight: bold;
                font-size: 20px;
                border-left: 2px solid #011e41;
                padding-left: 10px;
            }
        }
    }
}
.pagePaginate{
    width: 100%;
    float: left;
    margin-bottom: 35px;
    .pagination{
        text-align: center;
        li{
            list-style: none;
            display: inline-block;
            color: #cccccc;
            margin-right: 3px;
            margin-bottom: 10px;
            a{
                color: #007bff;
                padding: 5px 10px;
                display: block;
                text-align: center;
                border: 1px solid #dee2e6;
                border-radius: 5px;
            }
        }
        li.disabled{
            span{
                color: #007bff;
                padding: 5px 10px;
                display: block;
                text-align: center;
                border: 1px solid #dee2e6;
                border-radius: 5px;
            }
        }
        li.active{
            span{
                color: #fff;
                padding: 5px 10px;
                display: inline-block;
                text-align: center;
                border: 1px solid #cccccc;
                border-radius: 5px;
                background: #011e41;
            }
        }
    }
}
.service{
    width: 100%;
    float: left;
    margin-top: 20px;
    &-infor{
        width: 100%;
        float: left;
        margin-bottom: 55px;
        &__item{
            width: 100%;
            float: left;
            padding-left: 322px;
        }
    }
    &-inspired{
        width: 100%;
        float: left;
        .support-title{
            margin-bottom: 50px;
        }
        &__list{
            width: 100%;
            float: left;
            margin-bottom: 30px;
            .item{
                width: calc(100% / 3 - 12px);
                float: left;
                position: relative;
                height: 365px;
                margin-bottom: 25px;
                display: flex;
                flex-wrap: wrap;
                &:nth-child(3n+2){
                    margin-left: 18px;
                    margin-right: 18px;
                }
                &-img{
                    width: 100%;
                    float: left;
                    img{
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                    }
                }
                &-infor{
                    width: calc(100% - 20px);
                    float: left;
                    margin-left: 10px;
                    background: #fff;
                    border-radius: 4px;
                    padding: 10px;
                    position: absolute;
                    line-height: 25px;
                    box-shadow: 0 0 4px 0 rgba(0,0,0,.5);
                    top: 210px; 
                    overflow: hidden;
                    &__time{
                        width: 100%;
                        float: left;
                        padding-left: 20px;
                        p{
                            color: #999aaa;
                            font-size: 13px;
                        }
                    }
                    &__title, &__desc{
                        width: 100%;
                        float: left;
                    }
                }
            }
        }
    }
}
.contact{
    width: 100%;
    float: left;
    margin-bottom: 45px;
    &-left{
        width: 50%;
        float: left;
        &__adress{
            width: 100%;
            float: left;
            p{
                margin-bottom: 5px;
                line-height: 25px;
                color: #011e41;
            }
        }
        &__infor{
            width: 100%;
            float: left;
            p{
                font-weight: bold;
                margin-bottom: 5px;
                line-height: 25px;
                color: #011e41;
            }
            span{
                font-weight: normal;
                color: #011e41;
            }
        }
    }
    &-right{
        width: 50%;
        float: right;
        &__form{
            width: 100%;
            float: left;
            .item-import{
                width: 100%;
                float: left;
                border: 1px solid #79889a;
                border-radius: 4px;
                margin-bottom: 35px;
                input[type=text]{
                    width: 100%;
                    border: 0;
                    border-bottom: 1px solid #79889a;
                    padding: 15px;
                }
                textarea{
                    padding:15px;
                    width: 100%;
                    border: 0;
                    height: 165px;
                }
            }
            .item-btn{
                width: 100%;
                float: left;
                text-align: center;
                button{
                    background: #db0000;
                    border-radius: 4px;
                    width: 135px; 
                    height: 35px;
                    color: #fff;
                }
                i{
                    margin-left: 10px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    padding: 1px 5px 1px 5px;
                }
            }
        }
    }
}
.cateProduct{
    width: 100%;
    float: left;
    margin-bottom: 30px;
    &-left{
        float: left;
        width: 75%;
        padding-right: 20px;
        &__list{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            float: left;
            .item{
                width: calc(100% / 3);
                float: left;
                padding: 15px;
                margin-bottom:15px; 
                border: 1px solid #ccc;
                border-left: 0;
                &:nth-child(3n+1){
                    border-left: 1px solid #ccc;
                }
                &:hover{
                    box-shadow: 1px 1px 7px 0px #bfb4b4;
                    -webkit-box-shadow: 1px 1px 7px 0px #bfb4b4;
                    -khtml-box-shadow: 1px 1px 7px 0px #bfb4b4;
                    -moz-box-shadow: 1px 1px 7px 0px #bfb4b4;
                    -ms-box-shadow: 1px 1px 7px 0px #bfb4b4;
                    -o-box-shadow: 1px 1px 7px 0px #bfb4b4;
                }
                &-img{
                    width: 100%;
                    float: left;
                    margin-bottom:15px; 
                    img{
                        width: 100%;
                        height: 225px;
                        object-fit: cover;
                    }
                }
                &-name{
                    width: 100%;
                    margin-bottom: 5px;
                    line-height: 20px;
                    height: 44px;
                    overflow: hidden;
                }
                &-fix{
                    width: 100%;
                    margin-bottom: 5px;
                    .item-fix__star{
                        i{
                            color: #f7d14f;
                            font-size: 18px;
                        }
                    }
                }
                &-price{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    &__new{
                        margin-right: 5px;
                        span{
                            color: #db0000;
                            font-weight: bold;
                        }
                    }
                    &__old{
                        span{
                            text-decoration: line-through;
                            color: #333;
                        }
                    }
                }
                &-des{
                    width: 100%;
                    float: left;
                }
            }
        }
    }
    &-right{
        width: 25%;
        float: right;
        &__title{
            width: 100%;
            float: left;
            margin: 20px 0;
            p{
                text-transform: uppercase;
                color: #011e41;
                font-weight: bold;
                font-size: 18px;
                border-left: 2px solid #011e41;
                padding-left: 10px;
            }
        }
        &__list{
            width: 100%;
            float: left;
            border: 1px solid #ccc;
            padding-top: 15px;
            .item{
                width: 100%;
                float: left;
                padding-bottom: 10px;
                border-bottom: 1px solid #dddddd;
                margin-bottom: 10px;
                &:last-child{
                    border-bottom: 0;
                }
                &-title{
                    width: 100%;
                    float: left;
                    margin-bottom: 15px;
                    p{
                        text-transform: uppercase;
                        font-weight: bold;
                        padding: 0 10px;
                    }
                }
                &-filter{
                    width: 100%;
                    float: left;
                    padding: 0 20px;
                    &__cate{
                        width: 100%;
                        float: left;
                        a{
                            width: 100%;
                            float: left;
                            margin-bottom: 10px;
                            color: #969eeb;
                        }
                        a.active{
                            color: #011e41;
                            font-weight: bold;
                        }
                    }
                    &__check{
                        width: 100%;
                        float: left;
                        padding-right: 15px;
                        margin-bottom: 10px;
                        span{
                            color: #969eeb;
                        }
                        input[type=checkbox]{
                            -webkit-appearance: none;
                            background-color: #ffffff;
                            border: 1px solid #ddd;
                            padding: 0px;
                            width: 14px;
                            height: 14px;
                            cursor: pointer;
                            vertical-align: middle;
                            margin-right: 10px;
                            border-radius: 3px;
                            &:checked{
                                background: url(../../assets/img/icon/check.png);
                                background-size: 14px 14px;
                                color: #e9ecee;
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
.inspiration{
    width: 100%;
    float: left;
    &-cate{
        width: 100%;
        float: left;
        text-align: center;
        &__btn{
            width: 100%;
            float: left;
            margin-bottom: 15px;
            .active{
                background: #dfe7ea;
            }
            img{
                width: 20px;
                height: 20px;
                margin-right: 15px;
            }
            p{
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: center;
                justify-content: center;
                font-size: 15px;
                font-weight: 600;
                -ms-flex-align: center;
                align-items: center;
                color: #011e41;
            }
            
            a{
                text-transform: uppercase;
                padding: 15px;
            }

        }
        
        &__form{
            width: 100%;
            float: left;
            text-align: center;
            background: #dfe7ea;
            padding-top: 15px;
            padding-bottom: 15px;
            display: none;
            a{
                padding-right: 50px;
                margin-right: 50px;
                border-right: 1px solid #fff;
                &:last-child{
                    border-right: 0;
                }
            }
        }
    }
    .slider-item{
        &:nth-child(2){
            display: none;
        }
        .item {
            background: rgba(0,0,0,0.6);
            p{
                font-weight: normal;
                font-size: 30px;
                margin-bottom: 15px;
            }
            span{
                color: #fff;
                line-height: 25px;
            }
        }
    }
    &-block{
        width: 100%;
        float: left;
        height: 495px;
        margin-bottom: 20px;
        img{
            width: 100%;
            height: 495px;
            object-fit: cover;
        }
        &__list{
            width: 100%;
            float: left;
            position: relative;
            top: -495px;
            .item{
                width: 450px;
                height: 320px;
                position: absolute;
                top: 85px;
                background: #fff;
                float: left;
                right: 0;
                padding-top: 50px;
                padding-left: 35px;
                padding-right: 110px;
                line-height: 25px;
                p{
                    color: #333;
                    font-size: 30px;
                    line-height: 46px;
                    font-weight: bold;
                    margin-bottom: 30px;
                }
                span{
                    color: #333;
                }
            }
        }  
    }
}
/*css cho footer*/
.content-container{
    width: 100%;
    float: left;
    border-bottom: 1px solid #e1e1e1;
    .container{
        display: flex;
        flex-wrap: wrap;
        .social-share{
            flex: 0 0 66.66667%;
            max-width: 66.66667%;
            >ul{
                display: flex;
                margin-top: 20px;
                li{
                    margin-right: 35px;
                    &:last-child{
                        margin-right: 0px;
                    }
                    a{
                        i{
                            font-size: 30px;
                        }
                    }
                }
            }
            .copyright{
                margin-top: 5px;
                span{
                    font-weight: 700;
                }
                .content-container{
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }

        .elux-life-app{
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
            .content-container--table{
                display: table!important;
                margin-left: auto;
                .block-table{
                    &:first-child{
                        margin-top: 20px;
                        margin-bottom: 10px;
                        strong{
                            display: table-cell!important;
                            vertical-align: middle!important;
                            padding-bottom: 0;
                            font-size: 14px;
                        }
                    }
                    &:last-child{
                        display: flex;
                        flex-wrap: wrap;
                        .block-table-cell{
                            margin-right: 35px;
                            &:last-child{
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
.content-container-bottom{
    width: 100%;
    float: left;
    margin: 5px 0;
    .container{
        .content-container-bottom{
            display: flex;
            flex-wrap: wrap;
            .small-12{
                &:first-child{
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                &:last-child{
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
        }
    }
}