.menu_section {
    margin-bottom: 0;
}
img.loading {
    position: relative;
    left: 7px;
    top: 7px;
}

.btn-primary {
    background-color: #424F63;
    border-color: #374152;
    color: #FFFFFF;
}

.form-preview {
    position: fixed;
    top: 141px;
    right: 42px;
    z-index: 1;
}

.fa-calendar-o {
    top: -8px !important;
}

.form-asterick {
    color: red;
}

.icon-green:before {
    color: green;
}

.font-size17 {
    font-size: 17px;
    padding: 0 3px;
}

.list-role {
    padding-top: 10px;
}

.icon-red {
    color: red;
}

.mgt7 {
    padding: 12px 0;
}

.fa-user-md {
    font-size: 23px;
}

#datatable-checkbox .center {
    text-align: center;
}

#datatable-checkbox .center input[type='text'] {
    padding: 3px 7px;
}

.paging {
    float: right;
    height: 24px;
    margin: 10px 0px;
}

.form-actions {
    margin-left: 207px;
    position: fixed;
    top: 100px;
    right: 40px;
}

p.close-error {
    position: absolute;
    right: 25px;
    top: 11px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    color: black;
    font-size: 22px;
    cursor: pointer;
}

iframe#mytextarea_ifr {
    min-height: 300px !important;
}

#search {
    padding-bottom: 20px;
}

#search .form-group {
    float: left;
    margin-right: 5px;
}
.pagination {
    margin: 0;
    float: right;
}

p.close-alert {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    font-size: 22px;
    right: 20px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    color: black;
}
.multi-cate-wrap {
    padding: 10px;
    background: #fafafa;
}

.wrap_seometa {
    width: 100%;
    margin-top: 30px;
    padding: 10px 20px;
    background: #f9f9f9;
    border-top: 3px solid #999;
}

.preview_snippet_main {
    border: 1px solid #bebebe;
    padding: 10px;
    background: #fff;
    margin-bottom: 15px;
}

.preview_snippet_title {
    color: #12c;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}

.preview_snippet_link {
    color: #093;
    font-style: normal;
    font-size: 13px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.preview_snippet_des {
    color: #222;
    font-size: 13px;
}

.suget_pos_image img {
    width: 100%;
    max-height: 200px
}

.btn_image_core_laravel {
    padding: 10px 15px;
    border-radius: 3px;
    color: #fff;
    margin: 10px 0;
    cursor: pointer;
    display: inline-block;
    background: #9acd32
}

.remove_image_sudo_media:before {
    color: #006f00;
    content: "\f05c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 20px
}

.remove_image_sudo_media:hover::before {
    color: red
}

form.form-lang {
    display: inline;
    float: right;
    padding-top: 20px;
}

select.language {
    height: 25px;
}

a.alias {
    padding-top: 8px;
    font-size: 16px;
    color: #0073aa;
    text-decoration: underline;
}

button.edit-slug {
    margin-left: 10px;
    height: 24px;
    font-size: 13px;
    background: #2a3f54;
    color: #fff;
    border: 0;
}

button.ok {
    margin-left: 10px;
    height: 24px;
    font-size: 13px;
    background: #3498db;
    color: #fff;
    border: 0;
    display: none;
}

button.huy {
    margin-left: 5px;
    height: 24px;
    font-size: 13px;
    background: #ff1e3d;
    color: #fff;
    border: 0;
    display: none;
}

.div-slug {
    margin-top: 8px;
}

span.slug {
    font-weight: bold;
}

#duong-dan {
    display: none;
}

input.input-slug {
    width: 66%;
}

#purge-cache {
    display: block;
    line-height: 57px;
    padding: 0 10px;
}

#purge-cache:hover {
    background: #D9DEE4;
}

a.btn-add-image {
    background: #2b54e8;
    padding: 7px 5px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    position: relative;
    top: 10px;
}

#image img {
    width: 150px;
    padding-top: 10px;
}

a#insert-image-content {
    font-size: 14px;
    background: #55595a;
    color: #fff;
    padding: 3px 8px;
    position: relative;
    top: 0px;
}

.row-title {
    font-size: 14px;
    font-weight: 600;
    color: #0073aa;
}

.result_image {
    width: 100%;
    overflow: hidden;
    padding: 20px 0 10px;
}
.result_image_item {
    width: 80px;
    height: 80px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
    position: relative;
    cursor: move;
}
.result_image_item img {
    width: 80px;
    text-align: center;
}
.result_image .del_img {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    color: red;
}
.relate-result,
.relate-suggest {
    position: relative;
    margin-bottom: 5px;
}
.relate-suggest {
    float: left;
    padding: 0;
}
.relate-suggest li {
    display: block;
    line-height: 1.3em;
    cursor: pointer;
    color: #0096dc;
    padding: 5px 20px;
    border: 1px solid #eee;
}
.relate-item {
    font-weight: bold;
}
.relate-item-remove {
    color: red;
    margin-left: 5px;
}

#strength .result {  
    font-size: .8em;
    width: auto;
    line-height:1px;
    display:block;
    transition: display 1s;
    text-transform: uppercase;
    font-weight: bold;
}
#strength .str-box {
    position: relative;
    border: 1px solid silver;
    width: 20px;
    height: 8px;
    display: inline-block; 
}  
#strength .str-box div {
    position: absolute;
    width: 0%;
    height: 100%;
    transition: width 1s;
}
.strength1 .result {color: #ff0000;}
.strength1 .box1 div {background: #ff0000;width: 100% !important;}
.strength2 .result {color: #e66c2c;}
.strength2 .box1 div {background: #e66c2c;width: 100% !important;}
.strength2 .box2 div {background: #e66c2c;width: 100% !important;}
.strength3 .result {color: #424f63;}
.strength3 .box1 div {background: #424f63;width: 100% !important;}
.strength3 .box2 div {background: #424f63;width: 100% !important;}
.strength3 .box3 div {background: #424f63;width: 100% !important;}
.strength4 .result {color: #2d98f3;}
.strength4 .box1 div {background: #2d98f3;width: 100% !important;}
.strength4 .box2 div {background: #2d98f3;width: 100% !important;}
.strength4 .box3 div {background: #2d98f3;width: 100% !important;}
.strength4 .box4 div {background: #2d98f3;width: 100% !important;}
.strength5 .result {color: #006400;}
.strength5 .box1 div {background: #006400;width: 100% !important;}
.strength5 .box2 div {background: #006400;width: 100% !important;}
.strength5 .box3 div {background: #006400;width: 100% !important;}
.strength5 .box4 div {background: #006400;width: 100% !important;}
.strength5 .box5 div {background: #006400;width: 100% !important;}

/* Nút xóa */
.btn-delete__group {
    position: absolute;
    top: -15px;
    right: 0;
    background: #ff0000;
    color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

/* Dùng cho relation */
.item_box {
    display: flex;
    flex-wrap: wrap;
}
.item_box .item {
    width: calc(100% / 3);
    padding-right: 15px;
    position: relative;
    float: left;
}
.item_box .item .item-related {
    width: 100%;
    clear: both;
    float: left;
}
.item-related__search {
    width: 100%;
    clear: both;
    float: left;
    position: relative;
}
.item-related__search ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
}
.item-related__search li {
    width: 100%;
    background: #cccccc;
    padding: 5px 10px;
    cursor: pointer;
}
.item-related__search li:hover {
    background: #dddddd;
}
.item_box .item .item-related .item-related__box {
    width: 100%;
    clear: both;
    float: left;
    margin-top: 10px;
}
.item_box .item .item-related .item-related__box-item {}
.item_box .item .item-related .item-related__box-item p {
    float: left;
    line-height: 25px;
    background: #cccccc;
    padding: 0 10px;
    color: #ffffff;
}
.item_box .item .item-related .item-related__box-delete {
    float: left;
    line-height: 25px;
    padding: 0 10px;
    background: #ff0000;
    color: #ffffff;
    cursor: pointer;
}

/* Cho nút ghim về bên trái */
.input-group-btn {
    float: left;
}

/* module table option */
.module_table_option {
    width: 100%;
    border-spacing: 0px;
    border: 1px solid #cccccc;
}
.module_table_option tr td {
    border:  1px solid #cccccc;
}
.module_table_option tr td:last-child {
    width: 30px;
}
.module_table_option input {
    width: 100%;
    height: 30px;
    padding: 5px;
    border: none;
}
.module_table_option.has_image input{
    border: 1px solid #ccc;
}
.module_table_image {
    width: 150px;
    background: #cccccc;
}
.module_table_image .form-group{
    margin-bottom: 0;
}
.module_table_image a {
    float: left;
}
.module_table_image img {
    display: block;
    margin: 0 auto;
    max-height: 60px;
    max-width: 100%;
    height: 60px;
    width: 90px;
    object-fit: cover;
}
.module_table_option .module_table_textarea {
    width: 40%;
}
.module_table_option textarea {
    width: 100%;
    height: 140px;
    padding: 5px;
    border: none;
}
.module_table_option .btn {
    margin: 0px;
    height: 60px;
    line-height: 45px;
}
.module_table_option .btn-add {
    width: 100%;
    height: 30px;
    margin: 0px;
    background: blue;
    color: #fff;
    border: none;
}
.module_table_option .btn-delete {
    background: red;
    color: #fff;
    border: none;
    width: 30px;
    height: 30px;
    margin: 0px;
}
.module_table_option tbody {
    position: relative;
}
.module_table_option .sortable-placeholder {
    display: block;
    position: absolute;
    width: calc(100% - 22px);
    height: 5px;
    background: #cccccc;
}

/* module comment */
.comment_admin {
    width: 100%;
    background: #ddd;
    padding: 5px;
    position: relative;
    height: 30px;
    overflow: hidden;
    line-height: 20px;
}
.comment_admin_show_more {
    position: absolute;
    right: 5px;
    line-height: 20px;
    cursor: pointer;
    z-index: 1;
    top: 5px;
    background: #ddd;
}

.quick_comment {
    width: 100%;
}
.quick_comment input {
    width: 90%;
    float: left;
}
.quick_comment button {
    width: 10%;
    float: left;
    margin-right: 0;
}

.detail_config_block {}
.detail_config_block input {
    width: 95%;
    margin-bottom: 10px;
    display: inline-block
}

.detail_config_block .delete_item {
    display: inline-block;
    margin-top: -9px;
}
.detail_config_block textarea {
    float: left;
    width: 100%;
}

.comment_item_author_avatext{
    float: left;
    width: 26px;
    height: 26px;
    line-height: 26px;
    background: #ddd;
    margin-right: 7px;
    text-align: center;
    color: #666;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-shadow: 1px 1px 0 rgba(255,255,255,.2);
  }
  .comment_item_content {
    padding: 10px 0;
  }
  .comment_item {
    width: 100%;
    margin-bottom: 25px;
    overflow: hidden;
  }
  .comment_item_meta {
    font-size: 0.9em;
  }
  .comment_item_author{
    display: flex;
    align-items: center;
  }
  .comment_item_meta .comment_item_time {
    color: #999;
    font-size: 0.9em;
  }
  .comment_item_reply_wrap.has_child {
    background: #f8f8f8;
    border: 1px solid #dfdfdf;
    position: relative;
    margin-top: 10px;
   
  }
  .comment_item_reply_wrap{
    padding: 0 10px;
  }
  
  .comment_item_reply_wrap.has_child:after, .comment_item_reply_wrap.has_child:before {
    top: -20px;
    left: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .comment_item_reply_wrap.has_child:before {
    border-color: rgba(238,238,238,0);
    border-bottom-color: #f8f8f8;
    border-width: 11px;
    margin-left: -11px;
    z-index: 1;
  }
  .comment_item_reply_wrap.has_child:after {
    border-color: rgba(255,255,255,0);
    border-bottom-color: #dfdfdf;
    border-width: 10px;
    margin-left: -10px;
  }
  .comment_item_reply_wrap .comment_item {
    margin-top: 25px;
  }
  .comment_item_author_name {
    float: left;
    overflow: hidden;
    height: 26px;
    line-height: 26px;
    text-transform: capitalize;
    font-weight: bold;
  }
  .comment_item_author_admin {
    background: #f1c40f;
    border-radius: 2px;
    padding: 2px 5px;
    line-height: normal;
    border: 1px solid #f1c40f;
    font-size: 11px;
    color: #333;
    font-weight: normal;
    display: inline-block;
    margin: 0px 0 0 10px;
  }
  .comment_item_author_edit{
    margin-top: 2px;
    margin-left: 10px;
  }